In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import acquire

In [11]:
from pydataset import data

In [5]:
iris = data('iris')

In [12]:
from env import host, user, password

In [8]:
pd.DataFrame(data=iris)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
1             5.1          3.5           1.4          0.2      setosa
2             4.9          3.0           1.4          0.2      setosa
3             4.7          3.2           1.3          0.2      setosa
4             4.6          3.1           1.5          0.2      setosa
5             5.0          3.6           1.4          0.2      setosa
6             5.4          3.9           1.7          0.4      setosa
7             4.6          3.4           1.4          0.3      setosa
8             5.0          3.4           1.5          0.2      setosa
9             4.4          2.9           1.4          0.2      setosa
10            4.9          3.1           1.5          0.1      setosa
11            5.4          3.7           1.5          0.2      setosa
12            4.8          3.4           1.6          0.2      setosa
13            4.8          3.0           1.4          0.1      setosa
14            4.3          3.0           1.1          0.1      setosa
15            5.8          4.0           1.2          0.2      setosa
16            5.7          4.4           1.5          0.4      setosa
17            5.4          3.9           1.3          0.4      setosa
18            5.1          3.5           1.4          0.3      setosa
19            5.7          3.8           1.7          0.3      setosa
20            5.1          3.8           1.5          0.3      setosa
21            5.4          3.4           1.7          0.2      setosa
22            5.1          3.7           1.5          0.4      setosa
23            4.6          3.6           1.0          0.2      setosa
24            5.1          3.3           1.7          0.5      setosa
25            4.8          3.4           1.9          0.2      setosa
26            5.0          3.0           1.6          0.2      setosa
27            5.0          3.4           1.6          0.4      setosa
28            5.2          3.5           1.5          0.2      setosa
29            5.2          3.4           1.4          0.2      setosa
30            4.7          3.2           1.6          0.2      setosa
31            4.8          3.1           1.6          0.2      setosa
32            5.4          3.4           1.5          0.4      setosa
33            5.2          4.1           1.5          0.1      setosa
34            5.5          4.2           1.4          0.2      setosa
35            4.9          3.1           1.5          0.2      setosa
36            5.0          3.2           1.2          0.2      setosa
37            5.5          3.5           1.3          0.2      setosa
38            4.9          3.6           1.4          0.1      setosa
39            4.4          3.0           1.3          0.2      setosa
40            5.1          3.4           1.5          0.2      setosa
41            5.0          3.5           1.3          0.3      setosa
42            4.5          2.3           1.3          0.3      setosa
43            4.4          3.2           1.3          0.2      setosa
44            5.0          3.5           1.6          0.6      setosa
45            5.1          3.8           1.9          0.4      setosa
46            4.8          3.0           1.4          0.3      setosa
47            5.1          3.8           1.6          0.2      setosa
48            4.6          3.2           1.4          0.2      setosa
49            5.3          3.7           1.5          0.2      setosa
50            5.0          3.3           1.4          0.2      setosa
51            7.0          3.2           4.7          1.4  versicolor
52            6.4          3.2           4.5          1.5  versicolor
53            6.9          3.1           4.9          1.5  versicolor
54            5.5          2.3           4.0          1.3  versicolor
55            6.5          2.8           4.6          1.5  versicolor
56            5.7          2.8           4.5          1.3  versicolor
57            6.3          3.3           4.7          1.6  versicolor
58            4.9          2.4           3.3          1.0  versicolor
59            6.6          2.9           4.6          1.3  versicolor
60            5.2          2.7           3.9          1.4  versicolor
61            5.0          2.0           3.5          1.0  versicolor
62            5.9          3.0           4.2          1.5  versicolor
63            6.0          2.2           4.0          1.0  versicolor
64            6.1          2.9           4.7          1.4  versicolor
65            5.6          2.9           3.6          1.3  versicolor
66            6.7          3.1           4.4          1.4  versicolor
67            5.6          3.0           4.5          1.5  versicolor
68            5.8          2.7           4.1          1.0  versicolor
69            6.2          2.2           4.5          1.5  versicolor
70            5.6          2.5           3.9          1.1  versicolor
71            5.9          3.2           4.8          1.8  versicolor
72            6.1          2.8           4.0          1.3  versicolor
73            6.3          2.5           4.9          1.5  versicolor
74            6.1          2.8           4.7          1.2  versicolor
75            6.4          2.9           4.3          1.3  versicolor
76            6.6          3.0           4.4          1.4  versicolor
77            6.8          2.8           4.8          1.4  versicolor
78            6.7          3.0           5.0          1.7  versicolor
79            6.0          2.9           4.5          1.5  versicolor
80            5.7          2.6           3.5          1.0  versicolor
81            5.5          2.4           3.8          1.1  versicolor
82            5.5          2.4           3.7          1.0  versicolor
83            5.8          2.7           3.9          1.2  versicolor
84            6.0          2.7           5.1          1.6  versicolor
85            5.4          3.0           4.5          1.5  versicolor
86            6.0          3.4           4.5          1.6  versicolor
87            6.7          3.1           4.7          1.5  versicolor
88            6.3          2.3           4.4          1.3  versicolor
89            5.6          3.0           4.1          1.3  versicolor
90            5.5          2.5           4.0          1.3  versicolor
91            5.5          2.6           4.4          1.2  versicolor
92            6.1          3.0           4.6          1.4  versicolor
93            5.8          2.6           4.0          1.2  versicolor
94            5.0          2.3           3.3          1.0  versicolor
95            5.6          2.7           4.2          1.3  versicolor
96            5.7          3.0           4.2          1.2  versicolor
97            5.7          2.9           4.2          1.3  versicolor
98            6.2          2.9           4.3          1.3  versicolor
99            5.1          2.5           3.0          1.1  versicolor
100           5.7          2.8           4.1          1.3  versicolor
101           6.3          3.3           6.0          2.5   virginica
102           5.8          2.7           5.1          1.9   virginica
103           7.1          3.0           5.9          2.1   virginica
104           6.3          2.9           5.6          1.8   virginica
105           6.5          3.0           5.8          2.2   virginica
106           7.6          3.0           6.6          2.1   virginica
107           4.9          2.5           4.5          1.7   virginica
108           7.3          2.9           6.3          1.8   virginica
109           6.7          2.5           5.8          1.8   virginica
110           7.2          3.6           6.1          2.5   virginica
111           6.5          3.2           5.1          2.0   virginica
112           6.4          2.7           5.3          1.9   virginica
113           6.8          3.0           5.5          2.1   virginica
114           5.7          2.5           5.0          2.0   virginica
115           5.8          2.8           5.1          2.4   virginica
116           6.4          3.2           5.3          2.3   virginica
117           6.5          3.0           5.5          1.8   virginica
118           7.7          3.8           6.7          2.2   virginica
119           7.7          2.6           6.9          2.3   virginica
120           6.0          2.2           5.0          1.5   virginica
121           6.9          3.2           5.7          2.3   virginica
122           5.6          2.8           4.9          2.0   virginica
123           7.7          2.8           6.7          2.0   virginica
124           6.3          2.7           4.9          1.8   virginica
125           6.7          3.3           5.7          2.1   virginica
126           7.2          3.2           6.0          1.8   virginica
127           6.2          2.8           4.8          1.8   virginica
128           6.1          3.0           4.9          1.8   virginica
129           6.4          2.8           5.6          2.1   virginica
130           7.2          3.0           5.8          1.6   virginica
131           7.4          2.8           6.1          1.9   virginica
132           7.9          3.8           6.4          2.0   virginica
133           6.4          2.8           5.6          2.2   virginica
134           6.3          2.8           5.1          1.5   virginica
135           6.1          2.6           5.6          1.4   virginica
136           7.7          3.0           6.1          2.3   virginica
137           6.3          3.4           5.6          2.4   virginica
138           6.4          3.1           5.5          1.8   virginica
139           6.0          3.0           4.8          1.8   virginica
140           6.9          3.1           5.4          2.1   virginica
141           6.7          3.1           5.6          2.4   virginica
142           6.9          3.1           5.1          2.3   virginica
143           5.8          2.7           5.1          1.9   virginica
144           6.8          3.2           5.9          2.3   virginica
145           6.7          3.3           5.7          2.5   virginica
146           6.7          3.0           5.2          2.3   virginica
147           6.3          2.5           5.0          1.9   virginica
148           6.5          3.0           5.2          2.0   virginica
149           6.2          3.4           5.4          2.3   virginica
150           5.9          3.0           5.1          1.8   virginica

In [9]:
iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [11]:
iris.shape

(150, 5)

In [13]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [14]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [16]:
pd.read_excel('Spreadsheets_Exercises.xlsx')

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
7044,9987-LUTYD,Female,0,No,No,1,1,1,Mailed check,55.15,742.90,No
7045,9992-RRAMN,Male,0,Yes,No,2,2,0,Electronic check,85.10,1873.70,Yes
7046,9992-UJOEL,Male,0,No,No,1,1,0,Mailed check,50.30,92.75,No
7047,9993-LHIEB,Male,0,Yes,Yes,1,1,2,Mailed check,67.85,4627.65,No
7048,9995-HOTOH,Male,0,Yes,Yes,0,1,2,Electronic check,59.00,3707.60,No

In [18]:
df_excel = pd.read_excel('Spreadsheets_Exercises.xlsx', sheet_name='Table1_CustDetails')

In [19]:
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes

In [20]:
df_excel_sample = df_excel.head(100)

In [22]:
df_excel.shape

(7049, 12)

In [25]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7049 non-null   object
 1   gender             7049 non-null   object
 2   is_senior_citizen  7049 non-null   int64
 3   partner            7049 non-null   object
 4   dependents         7049 non-null   object
 5   phone_service      7049 non-null   int64
 6   internet_service   7049 non-null   int64
 7   contract_type      7049 non-null   int64
 8   payment_type       7049 non-null   object
 9   monthly_charges    7049 non-null   float64
 10  total_charges      7038 non-null   float64
 11  churn              7049 non-null   object
dtypes: float64(2), int64(4), object(6)
memory usage: 661.0+ KB

In [28]:
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [29]:
df_excel.select_dtypes(include='object')

     customer_id  gender partner dependents      payment_type churn
0     0002-ORFBO  Female     Yes        Yes      Mailed check    No
1     0003-MKNFE    Male      No         No      Mailed check    No
2     0004-TLHLJ    Male      No         No  Electronic check   Yes
3     0011-IGKFF    Male     Yes         No  Electronic check   Yes
4     0013-EXCHZ  Female     Yes         No      Mailed check   Yes
...          ...     ...     ...        ...               ...   ...
7044  9987-LUTYD  Female      No         No      Mailed check    No
7045  9992-RRAMN    Male     Yes         No  Electronic check   Yes
7046  9992-UJOEL    Male      No         No      Mailed check    No
7047  9993-LHIEB    Male     Yes        Yes      Mailed check    No
7048  9995-HOTOH    Male     Yes        Yes  Electronic check    No

[7049 rows x 6 columns]

In [35]:
summary_stats = df_excel.describe().T

In [36]:
summary_stats

,count,mean,std,min,25%,50%,75%,max
is_senior_citizen,7049.0,0.162009,0.368485,0.00,0.0000,0.00,0.000,1.00
phone_service,7049.0,1.324585,0.642709,0.00,1.0000,1.00,2.000,2.00
internet_service,7049.0,1.222585,0.779068,0.00,1.0000,1.00,2.000,2.00
contract_type,7049.0,0.690878,0.833757,0.00,0.0000,0.00,1.000,2.00
monthly_charges,7049.0,64.747014,30.099460,18.25,35.4500,70.35,89.850,118.75
total_charges,7038.0,2283.043883,2266.521984,18.80,401.5875,1397.10,3793.775,8684.80

In [37]:
summary_stats['range'] = summary_stats['max'] - summary_stats['min']

In [38]:
summary_stats.range

is_senior_citizen       1.0
phone_service           2.0
internet_service        2.0
contract_type           2.0
monthly_charges       100.5
total_charges        8666.0
Name: range, dtype: float64

In [40]:
sheet = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

In [41]:
csv = sheet.replace('/edit#gid=', '/export?format=csv&gid=')

In [42]:
df_google = pd.read_csv(csv)

In [44]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [45]:
df_google.shape

(891, 12)

In [46]:
df_google.columns.to_list()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [48]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [49]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [50]:
df_google.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [58]:
for ele in df_google:
    if df_google[ele].dtypes == 'object':
        print(df_google[ele].nunique())

891
2
681
147
3

In [31]:
def get_connection(db, user=user, host=host, password=password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [32]:
def new_titanic_data():
    sql_query = 'SELECT * FROM passengers'
    df = pd.read_sql(sql_query, get_connection('titanic_db'))
    df.to_csv('titanic_df.csv')
    return df

In [33]:
def new_iris_data():
    sql_query = """
                SELECT species_id,
                species_name,
                sepal_length,
                sepal_width,
                petal_length,
                petal_width
                FROM measurements
                JOIN species
                USING(species_id)
                """
    df = pd.read_sql(sql_query, get_connection('iris_db'))
    df.to_csv('iris_df.csv')
    return df

In [34]:
def get_iris_data(cached=False):
    if cached or os.path.isfile('iris_df.csv') == False:
        df = new_iris_data()
    else:
        df = pd.read_csv('iris_df.csv', index_col=0)
    return df

Use the function defined in acquire.py to load the iris data.

In [35]:
iris = new_iris_data()

In [36]:
iris.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [18]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   species_id    150 non-null    int64
 1   species_name  150 non-null    object
 2   sepal_length  150 non-null    float64
 3   sepal_width   150 non-null    float64
 4   petal_length  150 non-null    float64
 5   petal_width   150 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

Drop the species_id and measurement_id columns.

In [37]:
iris = iris.drop(columns=['species_id'])

In [38]:
iris.head()

  species_name  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2
1       setosa           4.9          3.0           1.4          0.2
2       setosa           4.7          3.2           1.3          0.2
3       setosa           4.6          3.1           1.5          0.2
4       setosa           5.0          3.6           1.4          0.2

Rename the species_name column to just species.

In [39]:
iris = iris.rename(columns={'species_name': 'species'})

In [44]:
iris.species.value_counts()

setosa        50
virginica     50
versicolor    50
Name: species, dtype: int64

Create dummy variables of the species name.

In [47]:
dummy = pd.get_dummies(iris['species'])

In [48]:
dummy.head()

   setosa  versicolor  virginica
0       1           0          0
1       1           0          0
2       1           0          0
3       1           0          0
4       1           0          0

In [49]:
iris = pd.concat([iris, dummy], axis=1)

In [50]:
iris

,species,sepal_length,sepal_width,petal_length,petal_width,setosa,versicolor,virginica,setosa,versicolor,virginica
0,setosa,5.1,3.5,1.4,0.2,1,0,0,1,0,0
1,setosa,4.9,3.0,1.4,0.2,1,0,0,1,0,0
2,setosa,4.7,3.2,1.3,0.2,1,0,0,1,0,0
3,setosa,4.6,3.1,1.5,0.2,1,0,0,1,0,0
4,setosa,5.0,3.6,1.4,0.2,1,0,0,1,0,0
5,setosa,5.4,3.9,1.7,0.4,1,0,0,1,0,0
6,setosa,4.6,3.4,1.4,0.3,1,0,0,1,0,0
7,setosa,5.0,3.4,1.5,0.2,1,0,0,1,0,0
8,setosa,4.4,2.9,1.4,0.2,1,0,0,1,0,0
9,setosa,4.9,3.1,1.5,0.1,1,0,0,1,0,0
10,setosa,5.4,3.7,1.5,0.2,1,0,0,1,0,0
11,setosa,4.8,3.4,1.6,0.2,1,0,0,1,0,0
12,setosa,4.8,3.0,1.4,0.1,1,0,0,1,0,0
13,setosa,4.3,3.0,1.1,0.1,1,0,0,1,0,0
14,setosa,5.8,4.0,1.2,0.2,1,0,0,1,0,0
15,setosa,5.7,4.4,1.5,0.4,1,0,0,1,0,0
16,setosa,5.4,3.9,1.3,0.4,1,0,0,1,0,0
17,setosa,5.1,3.5,1.4,0.3,1,0,0,1,0,0
18,setosa,5.7,3.8,1.7,0.3,1,0,0,1,0,0
19,setosa,5.1,3.8,1.5,0.3,1,0,0,1,0,0
20,setosa,5.4,3.4,1.7,0.2,1,0,0,1,0,0
21,setosa,5.1,3.7,1.5,0.4,1,0,0,1,0,0
22,setosa,4.6,3.6,1.0,0.2,1,0,0,1,0,0
23,setosa,5.1,3.3,1.7,0.5,1,0,0,1,0,0
24,setosa,4.8,3.4,1.9,0.2,1,0,0,1,0,0
25,setosa,5.0,3.0,1.6,0.2,1,0,0,1,0,0
26,setosa,5.0,3.4,1.6,0.4,1,0,0,1,0,0
27,setosa,5.2,3.5,1.5,0.2,1,0,0,1,0,0
28,setosa,5.2,3.4,1.4,0.2,1,0,0,1,0,0
29,setosa,4.7,3.2,1.6,0.2,1,0,0,1,0,0
30,setosa,4.8,3.1,1.6,0.2,1,0,0,1,0,0
31,setosa,5.4,3.4,1.5,0.4,1,0,0,1,0,0
32,setosa,5.2,4.1,1.5,0.1,1,0,0,1,0,0
33,setosa,5.5,4.2,1.4,0.2,1,0,0,1,0,0
34,setosa,4.9,3.1,1.5,0.2,1,0,0,1,0,0
35,setosa,5.0,3.2,1.2,0.2,1,0,0,1,0,0
36,setosa,5.5,3.5,1.3,0.2,1,0,0,1,0,0
37,setosa,4.9,3.6,1.4,0.1,1,0,0,1,0,0
38,setosa,4.4,3.0,1.3,0.2,1,0,0,1,0,0
39,setosa,5.1,3.4,1.5,0.2,1,0,0,1,0,0
40,setosa,5.0,3.5,1.3,0.3,1,0,0,1,0,0
41,setosa,4.5,2.3,1.3,0.3,1,0,0,1,0,0
42,setosa,4.4,3.2,1.3,0.2,1,0,0,1,0,0
43,setosa,5.0,3.5,1.6,0.6,1,0,0,1,0,0
44,setosa,5.1,3.8,1.9,0.4,1,0,0,1,0,0
45,setosa,4.8,3.0,1.4,0.3,1,0,0,1,0,0
46,setosa,5.1,3.8,1.6,0.2,1,0,0,1,0,0
47,setosa,4.6,3.2,1.4,0.2,1,0,0,1,0,0
48,setosa,5.3,3.7,1.5,0.2,1,0,0,1,0,0
49,setosa,5.0,3.3,1.4,0.2,1,0,0,1,0,0
50,versicolor,7.0,3.2,4.7,1.4,0,1,0,0,1,0
51,versicolor,6.4,3.2,4.5,1.5,0,1,0,0,1,0
52,versicolor,6.9,3.1,4.9,1.5,0,1,0,0,1,0
53,versicolor,5.5,2.3,4.0,1.3,0,1,0,0,1,0
54,versicolor,6.5,2.8,4.6,1.5,0,1,0,0,1,0
55,versicolor,5.7,2.8,4.5,1.3,0,1,0,0,1,0
56,versicolor,6.3,3.3,4.7,1.6,0,1,0,0,1,0
57,versicolor,4.9,2.4,3.3,1.0,0,1,0,0,1,0
58,versicolor,6.6,2.9,4.6,1.3,0,1,0,0,1,0
59,versicolor,5.2,2.7,3.9,1.4,0,1,0,0,1,0
60,versicolor,5.0,2.0,3.5,1.0,0,1,0,0,1,0
61,versicolor,5.9,3.0,4.2,1.5,0,1,0,0,1,0
62,versicolor,6.0,2.2,4.0,1.0,0,1,0,0,1,0
63,versicolor,6.1,2.9,4.7,1.4,0,1,0,0,1,0
64,versicolor,5.6,2.9,3.6,1.3,0,1,0,0,1,0
65,versicolor,6.7,3.1,4.4,1.4,0,1,0,0,1,0
66,versicolor,5.6,3.0,4.5,1.5,0,1,0,0,1,0
67,versicolor,5.8,2.7,4.1,1.0,0,1,0,0,1,0
68,versicolor,6.2,2.2,4.5,1.5,0,1,0,0,1,0
69,versicolor,5.6,2.5,3.9,1.1,0,1,0,0,1,0
70,versicolor,5.9,3.2,4.8,1.8,0,1,0,0,1,0
71,versicolor,6.1,2.8,4.0,1.3,0,1,0,0,1,0
72,versicolor,6.3,2.5,4.9,1.5,0,1,0,0,1,0
73,versicolor,6.1,2.8,4.7,1.2,0,1,0,0,1,0
74,versicolor,6.4,2.9,4.3,1.3,0,1,0,0,1,0
75,versicolor,6.6,3.0,4.4,1.4,0,1,0,0,1,0
76,versicolor,6.8,2.8,4.8,1.4,0,1,0,0,1,0
77,versicolor,6.7,3.0,5.0,1.7,0,1,0,0,1,0
78,versicolor,6.0,2.9,4.5,1.5,0,1,0,0,1,0
79,versicolor,5.7,2.6,3.5,1.0,0,1,0,0,1,0
80,versicolor,5.5,2.4,3.8,1.1,0,1,0,0,1,0
81,versicolor,5.5,2.4,3.7,1.0,0,1,0,0,1,0
82,versicolor,5.8,2.7,3.9,1.2,0,1,0,0,1,0
83,versicolor,6.0,2.7,5.1,1.6,0,1,0,0,1,0
84,versicolor,5.4,3.0,4.5,1.5,0,1,0,0,1,0
85,versicolor,6.0,3.4,4.5,1.6,0,1,0,0,1,0
86,versicolor,6.7,3.1,4.7,1.5,0,1,0,0,1,0
87,versicolor,6.3,2.3,4.4,1.3,0,1,0,0,1,0
88,versicolor,5.6,3.0,4.1,1.3,0,1,0,0,1,0
89,versicolor,5.5,2.5,4.0,1.3,0,1,0,0,1,0
90,versicolor,5.5,2.6,4.4,1.2,0,1,0,0,1,0
91,versicolor,6.1,3.0,4.6,1.4,0,1,0,0,1,0
92,versicolor,5.8,2.6,4.0,1.2,0,1,0,0,1,0
93,versicolor,5.0,2.3,3.3,1.0,0,1,0,0,1,0
94,versicolor,5.6,2.7,4.2,1.3,0,1,0,0,1,0
95,versicolor,5.7,3.0,4.2,1.2,0,1,0,0,1,0
96,versicolor,5.7,2.9,4.2,1.3,0,1,0,0,1,0
97,versicolor,6.2,2.9,4.3,1.3,0,1,0,0,1,0
98,versicolor,5.1,2.5,3.0,1.1,0,1,0,0,1,0
99,versicolor,5.7,2.8,4.1,1.3,0,1,0,0,1,0
100,virginica,6.3,3.3,6.0,2.5,0,0,1,0,0,1
101,virginica,5.8,2.7,5.1,1.9,0,0,1,0,0,1
102,virginica,7.1,3.0,5.9,2.1,0,0,1,0,0,1
103,virginica,6.3,2.9,5.6,1.8,0,0,1,0,0,1
104,virginica,6.5,3.0,5.8,2.2,0,0,1,0,0,1
105,virginica,7.6,3.0,6.6,2.1,0,0,1,0,0,1
106,virginica,4.9,2.5,4.5,1.7,0,0,1,0,0,1
107,virginica,7.3,2.9,6.3,1.8,0,0,1,0,0,1
108,virginica,6.7,2.5,5.8,1.8,0,0,1,0,0,1
109,virginica,7.2,3.6,6.1,2.5,0,0,1,0,0,1
110,virginica,6.5,3.2,5.1,2.0,0,0,1,0,0,1
111,virginica,6.4,2.7,5.3,1.9,0,0,1,0,0,1
112,virginica,6.8,3.0,5.5,2.1,0,0,1,0,0,1
113,virginica,5.7,2.5,5.0,2.0,0,0,1,0,0,1
114,virginica,5.8,2.8,5.1,2.4,0,0,1,0,0,1
115,virginica,6.4,3.2,5.3,2.3,0,0,1,0,0,1
116,virginica,6.5,3.0,5.5,1.8,0,0,1,0,0,1
117,virginica,7.7,3.8,6.7,2.2,0,0,1,0,0,1
118,virginica,7.7,2.6,6.9,2.3,0,0,1,0,0,1
119,virginica,6.0,2.2,5.0,1.5,0,0,1,0,0,1
120,virginica,6.9,3.2,5.7,2.3,0,0,1,0,0,1
121,virginica,5.6,2.8,4.9,2.0,0,0,1,0,0,1
122,virginica,7.7,2.8,6.7,2.0,0,0,1,0,0,1
123,virginica,6.3,2.7,4.9,1.8,0,0,1,0,0,1
124,virginica,6.7,3.3,5.7,2.1,0,0,1,0,0,1
125,virginica,7.2,3.2,6.0,1.8,0,0,1,0,0,1
126,virginica,6.2,2.8,4.8,1.8,0,0,1,0,0,1
127,virginica,6.1,3.0,4.9,1.8,0,0,1,0,0,1
128,virginica,6.4,2.8,5.6,2.1,0,0,1,0,0,1
129,virginica,7.2,3.0,5.8,1.6,0,0,1,0,0,1
130,virginica,7.4,2.8,6.1,1.9,0,0,1,0,0,1
131,virginica,7.9,3.8,6.4,2.0,0,0,1,0,0,1
132,virginica,6.4,2.8,5.6,2.2,0,0,1,0,0,1
133,virginica,6.3,2.8,5.1,1.5,0,0,1,0,0,1
134,virginica,6.1,2.6,5.6,1.4,0,0,1,0,0,1
135,virginica,7.7,3.0,6.1,2.3,0,0,1,0,0,1
136,virginica,6.3,3.4,5.6,2.4,0,0,1,0,0,1
137,virginica,6.4,3.1,5.5,1.8,0,0,1,0,0,1
138,virginica,6.0,3.0,4.8,1.8,0,0,1,0,0,1
139,virginica,6.9,3.1,5.4,2.1,0,0,1,0,0,1
140,virginica,6.7,3.1,5.6,2.4,0,0,1,0,0,1
141,virginica,6.9,3.1,5.1,2.3,0,0,1,0,0,1
142,virginica,5.8,2.7,5.1,1.9,0,0,1,0,0,1
143,virginica,6.8,3.2,5.9,2.3,0,0,1,0,0,1
144,virginica,6.7,3.3,5.7,2.5,0,0,1,0,0,1
145,virginica,6.7,3.0,5.2,2.3,0,0,1,0,0,1
146,virginica,6.3,2.5,5.0,1.9,0,0,1,0,0,1
147,virginica,6.5,3.0,5.2,2.0,0,0,1,0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,0,1,0,0,1
149,virginica,5.9,3.0,5.1,1.8,0,0,1,0,0,1

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [51]:
def prep_iris(df):
    df.drop(columns=['species_id'])
    df.rename(columns={'species_name': 'species'})
    pd.get_dummies(df['species'])
    pd.concat([df, dummy], axis=1)

Use the function you defined in acquire.py to load the titanic data set.

In [54]:
titanic = acquire.new_titanic_data()

In [55]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

Handle the missing values in the embark_town and embarked columns.

In [57]:
titanic.embark_town.isnull().value_counts()

False    889
True       2
Name: embark_town, dtype: int64

In [58]:
titanic.embark_town.value_counts()

Southampton    644
Cherbourg      168
Queenstown      77
Name: embark_town, dtype: int64

In [67]:
titanic = titanic[~titanic.embark_town.isnull()]

In [68]:
titanic.embark_town.isnull().value_counts()

False    889
Name: embark_town, dtype: int64

In [69]:
titanic.embarked.isnull().value_counts()

False    889
Name: embarked, dtype: int64

In [70]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

Remove the deck column.

In [72]:
titanic = titanic.drop(columns='deck')

In [73]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,Southampton,1

Create a dummy variable of the embarked column.

In [74]:
df_dummies = pd.get_dummies(titanic['embarked'])

In [75]:
df_dummies.head()

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1

In [76]:
new_titanic = pd.concat([titanic, df_dummies], axis=1)

In [77]:
new_titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,C,Q,S
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0,0,0,1
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0,1,0,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1,0,0,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,Southampton,0,0,0,1
4,4,0,3,male,35.0,0,0,8.0500,S,Third,Southampton,1,0,0,1

Fill the missing values in age. The way you fill these values is up to you. Consider the tradeoffs of different methods.

In [78]:
new_titanic.age.value_counts()

24.00    30
22.00    27
18.00    26
28.00    25
30.00    25
19.00    25
21.00    24
25.00    23
36.00    22
29.00    20
26.00    18
35.00    18
32.00    18
27.00    18
16.00    17
31.00    17
34.00    15
20.00    15
23.00    15
33.00    15
39.00    14
17.00    13
42.00    13
40.00    13
45.00    12
50.00    10
2.00     10
4.00     10
38.00    10
47.00     9
48.00     9
44.00     9
9.00      8
54.00     8
51.00     7
1.00      7
14.00     6
3.00      6
52.00     6
49.00     6
41.00     6
37.00     6
43.00     5
15.00     5
58.00     5
11.00     4
5.00      4
60.00     4
8.00      4
56.00     4
46.00     3
65.00     3
7.00      3
6.00      3
61.00     3
62.00     3
55.00     2
28.50     2
71.00     2
59.00     2
63.00     2
0.83      2
30.50     2
70.00     2
57.00     2
0.75      2
13.00     2
10.00     2
64.00     2
40.50     2
32.50     2
45.50     2
20.50     1
24.50     1
0.67      1
14.50     1
0.92      1
74.00     1
34.50     1
80.00     1
12.00     1
36.50     1
53.00     1
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, dtype: int64

In [81]:
age_mean = new_titanic.age.mean()

In [84]:
new_titanic['age'].fillna(age_mean, inplace = True)

In [85]:
new_titanic.age.isnull().value_counts()

False    889
Name: age, dtype: int64

Create a function named prep_titanic that accepts the untransformed titanic data, and returns the data with the transformations above applied.

In [86]:
def prep_titanic(df):
    df = df[~df.embark_town.isnull()]
    df = df.drop(columns='deck')
    df_dummies = pd.get_dummies(df['embarked'])
    new_titanic = pd.concat([df, df_dummies], axis=1)
    age_mean = new_titanic.age.mean()
    df['age'].fillna(age_mean, inplace = True)