Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | actual cat | actual dog |
|:------------  |-----------:|-----------:|
| predicted cat |         34 |          7 |
| predicted dog |         13 |         46 |
In the context of this problem, what is a false positive?
In the context of this problem, what is a false negative?
How would you describe this model?

I choose to predict if an observation is a cat.
A false positive would be predicting a cat, but it was actually a dog(7).
A false negative would be predicting a dog, but it was actually a cat(13.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from pydataset import data

In [7]:
c3_file = 'https://ds.codeup.com/data/c3.csv'
c3 = pd.read_csv(c3_file)

In [8]:
c3.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [9]:
c3.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [11]:
no_def = 184/200

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [12]:
1 - no_def

0.07999999999999996

In [34]:
pd.crosstab(c3.model1, c3.actual)

actual     Defect  No Defect
model1
Defect          8          2
No Defect       8        182

In [33]:
pd.crosstab(c3.model2, c3.actual)

actual     Defect  No Defect
model2
Defect          9         81
No Defect       7        103

In [15]:
c3.model2.value_counts()

No Defect    110
Defect        90
Name: model2, dtype: int64

In [32]:
pd.crosstab(c3.model3, c3.actual)

actual     Defect  No Defect
model3
Defect         13         86
No Defect       3         98

In [17]:
c3.model3.value_counts()

No Defect    101
Defect        99
Name: model3, dtype: int64

In [19]:
c3.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

Recently several stories in the local news have come out highlighting 
customers who received a rubber duck with a 
defect, and portraying C3 in a bad light. 
The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects,
but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

Precision test.

In [20]:
paws = pd.read_csv('https://ds.codeup.com/data/gives_you_paws.csv')

In [21]:
paws

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [22]:
paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [23]:
3254/(3254+1746)

0.6508

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [24]:
paws.model1.value_counts()

dog    2937
cat    2063
Name: model1, dtype: int64

In [36]:
paws['baseline_prediction'] = 'dog'

In [37]:
model_accuracy = (paws.model1 == paws.actual).mean()
baseline_accuracy = (paws.baseline_prediction == paws.actual).mean()

print(f'   model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model accuracy: 80.74%
baseline accuracy: 65.08%

In [26]:
paws.model2.value_counts()

cat    3212
dog    1788
Name: model2, dtype: int64

In [27]:
1788/(3212+1788)

0.3576

In [38]:
model_accuracy = (paws.model2 == paws.actual).mean()
baseline_accuracy = (paws.baseline_prediction == paws.actual).mean()

print(f'   model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model accuracy: 63.04%
baseline accuracy: 65.08%

In [28]:
paws.model3.value_counts()

dog    2508
cat    2492
Name: model3, dtype: int64

In [29]:
2508/(2508+2492)

0.5016

In [39]:
model_accuracy = (paws.model3 == paws.actual).mean()
baseline_accuracy = (paws.baseline_prediction == paws.actual).mean()

print(f'   model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model accuracy: 50.96%
baseline accuracy: 65.08%

In [30]:
paws.model4.value_counts()

dog    4253
cat     747
Name: model4, dtype: int64

In [31]:
4253/(4253+747)

0.8506

In [40]:
model_accuracy = (paws.model4 == paws.actual).mean()
baseline_accuracy = (paws.baseline_prediction == paws.actual).mean()

print(f'   model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model accuracy: 74.26%
baseline accuracy: 65.08%

Model 4 is better than the baseline

Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

In [ ]:
Model 1 for phase 1.