In [62]:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression

In [63]:
import os

In [64]:
def new_titanic_data():
    sql_query = 'SELECT * FROM passengers'
    df = pd.read_sql(sql_query, get_connection('titanic_db'))
    df.to_csv('titanic_df.csv')
    return df

In [65]:
def get_titanic_data(cached=False):
    if cached or os.path.isfile('titanic_df.csv') == False:
        df = new_titanic_data()
    else:
        df = pd.read_csv('titanic_df.csv', index_col=0)
    return df

In [66]:
titanic = get_titanic_data()

In [6]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [67]:
def titanic_split(df):

    train_validate, test = train_test_split(df, test_size=.2,
                                        random_state=123,
                                        stratify=df.survived)
    train, validate = train_test_split(train_validate, test_size=.3,
                                        random_state=123,
                                        stratify=train_validate.survived)
    return train, validate, test

def impute_mean_age(train, validate, test):

    imputer = SimpleImputer(strategy = 'mean')

    train['age'] = imputer.fit_transform(train[['age']])

    validate['age'] = imputer.transform(validate[['age']])

    test['age'] = imputer.transform(test[['age']])

    return train, validate, test

def prep_titanic_data(cached=True):
#     df = get_titanic_data(cached)
    df = df[~df.embarked.isnull()]
    titanic_dummies = pd.get_dummies(df.embarked, drop_first=True)
    df = pd.concat([df, titanic_dummies], axis=1)
    df = df.drop(columns='deck')

    train, validate, test = titanic_split(df)

    train, validate, test = impute_mean_age(train, validate, test)

    return train, validate, test

In [68]:
 titanic = titanic[~titanic.embarked.isnull()]

In [69]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [70]:
titanic_dummies = pd.get_dummies(titanic[['sex', 'embark_town', 'class']], drop_first=True)

In [71]:
titanic = pd.concat([titanic, titanic_dummies], axis=1)

In [72]:
titanic = titanic.drop(columns=['embark_town','class', 'sex', 'pclass'])

In [73]:
titanic.head()

,passenger_id,survived,age,sibsp,parch,fare,embarked,deck,alone,sex_male,embark_town_Queenstown,embark_town_Southampton,class_Second,class_Third
0,0,0,22.0,1,0,7.2500,S,NaN,0,1,0,1,0,1
1,1,1,38.0,1,0,71.2833,C,C,0,0,0,0,0,0
2,2,1,26.0,0,0,7.9250,S,NaN,1,0,0,1,0,1
3,3,1,35.0,1,0,53.1000,S,C,0,0,0,1,0,0
4,4,0,35.0,0,0,8.0500,S,NaN,1,1,0,1,0,1

In [74]:
titanic = titanic.drop(columns='deck')

In [75]:
train, validate, test = titanic_split(titanic)

In [76]:
train.age.isnull().values.any()

True

In [77]:
train, validate, test = impute_mean_age(train, validate, test)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [78]:
train.shape

(497, 13)

In [79]:
validate.shape

(214, 13)

In [80]:
test.shape

(178, 13)

In [81]:
test.head()

,passenger_id,survived,age,sibsp,parch,fare,embarked,alone,sex_male,embark_town_Queenstown,embark_town_Southampton,class_Second,class_Third
561,561,0,40.000000,0,0,7.8958,S,1,1,0,1,0,1
328,328,1,31.000000,1,1,20.5250,S,0,0,0,1,0,1
643,643,1,29.916875,0,0,56.4958,S,1,1,0,1,0,1
498,498,0,25.000000,1,2,151.5500,S,0,0,0,1,0,0
875,875,1,15.000000,0,0,7.2250,C,1,0,0,0,0,1

In [82]:
train.survived.value_counts(normalize=True)

0    0.617706
1    0.382294
Name: survived, dtype: float64

In [83]:
logit = LogisticRegression()

In [84]:
X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [85]:
logit = logit.fit(X_train, y_train)

ValueError: could not convert string to float: 'C'

In [27]:
X_train.columns

Index(['passenger_id',          'age',        'sibsp',        'parch',
               'fare',     'embarked',         'deck',        'alone',
                    2,              3],
      dtype='object')

In [29]:
logit.coef_

AttributeError: 'LogisticRegression' object has no attribute 'coef_'

In [ ]:
y_pred = logit.predict(X_train)
y_pred_proba = logit.predict_proba(X_train)

In [ ]:
y_pred_proba

In [ ]:
logit.score(X_train, y_train)

In [ ]:
print(confusion_matrix(y_train, y_pred))

In [ ]:
print(classification_report(y_train, y_pred))

In [34]:
titanic2 = get_titanic_data()

In [35]:
titanic2.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [36]:
titanic2.age.isnull().values.any()

True

Create another model that includes age in addition to fare and pclass. Does this model perform better than your previous one?

In [37]:
titanic2 = titanic2.drop(columns=['sex', 'sibsp', 'parch', 'embarked','class', 'deck','embark_town', 'alone'])

In [38]:
titanic2.head()

   passenger_id  survived  pclass   age     fare
0             0         0       3  22.0   7.2500
1             1         1       1  38.0  71.2833
2             2         1       3  26.0   7.9250
3             3         1       1  35.0  53.1000
4             4         0       3  35.0   8.0500

In [39]:
titanic2 = titanic2.drop(columns='passenger_id')

In [40]:
titanic2.head()

   survived  pclass   age     fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [41]:
titanic2_dummies = pd.get_dummies(titanic2.pclass, drop_first=True)

In [42]:
titanic2 = pd.concat([titanic2, titanic2_dummies], axis=1)

In [43]:
titanic2.head()

   survived  pclass   age     fare  2  3
0         0       3  22.0   7.2500  0  1
1         1       1  38.0  71.2833  0  0
2         1       3  26.0   7.9250  0  1
3         1       1  35.0  53.1000  0  0
4         0       3  35.0   8.0500  0  1

In [44]:
train, validate, test = titanic_split(titanic2)

In [45]:
train.head()

     survived  pclass   age      fare  2  3
583         0       1  36.0   40.1250  0  0
165         1       3   9.0   20.5250  0  1
50          0       3   7.0   39.6875  0  1
259         1       2  50.0   26.0000  1  0
306         1       1   NaN  110.8833  0  0

In [46]:
train.isnull().values.any()

True

In [47]:
impute_mean_age(train, validate, test)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(     survived  pclass        age      fare  2  3
 583         0       1  36.000000   40.1250  0  0
 165         1       3   9.000000   20.5250  0  1
 50          0       3   7.000000   39.6875  0  1
 259         1       2  50.000000   26.0000  1  0
 306         1       1  29.678105  110.8833  0  0
 ..        ...     ...        ...       ... .. ..
 313         0       3  28.000000    7.8958  0  1
 636         0       3  32.000000    7.9250  0  1
 222         0       3  51.000000    8.0500  0  1
 485         0       3  29.678105   25.4667  0  1
 744         1       3  31.000000    7.9250  0  1

 [498 rows x 6 columns],
      survived  pclass        age      fare  2  3
 610         0       3  39.000000   31.2750  0  1
 424         0       3  18.000000   20.2125  0  1
 568         0       3  29.678105    7.2292  0  1
 334         1       1  29.678105  133.6500  0  0
 101         0       3  29.678105    7.8958  0  1
 ..        ...     ...        ...       ... .. ..
 176         0       3  29.678105   25.4667  0  1
 372         0       3  19.000000    8.0500  0  1
 737         1       1  35.000000  512.3292  0  0
 862         1       1  48.000000   25.9292  0  0
 26          0       3  29.678105    7.2250  0  1

 [214 rows x 6 columns],
      survived  pclass        age      fare  2  3
 561         0       3  40.000000    7.8958  0  1
 641         1       1  24.000000   69.3000  0  0
 400         1       3  39.000000    7.9250  0  1
 498         0       1  25.000000  151.5500  0  0
 875         1       3  15.000000    7.2250  0  1
 ..        ...     ...        ...       ... .. ..
 339         0       1  45.000000   35.5000  0  0
 841         0       2  16.000000   10.5000  1  0
 442         0       3  25.000000    7.7750  0  1
 815         0       1  29.678105    0.0000  0  0
 53          1       2  29.000000   26.0000  1  0

 [179 rows x 6 columns])

In [48]:
train.shape

(498, 6)

In [50]:
train.age.isnull().values.any()

False

In [51]:
train.survived.value_counts(normalize=True)

0    0.616466
1    0.383534
Name: survived, dtype: float64

In [52]:
logit = LogisticRegression()

In [53]:
X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [54]:
logit = logit.fit(X_train, y_train)

In [55]:
X_train.columns

Index(['pclass', 'age', 'fare', 2, 3], dtype='object')

In [56]:
print(logit.coef_)

[[-0.67260505 -0.02902885  0.00259074  0.14850399 -0.41036784]]

In [57]:
y_pred = logit.predict(X_train)
y_pred_proba = logit.predict_proba(X_train)

In [58]:
y_pred_proba

array([[0.40808026, 0.59191974],
       [0.65716147, 0.34283853],
       [0.63250245, 0.36749755],
       [0.64455554, 0.35544446],
       [0.32327957, 0.67672043],
       [0.50494894, 0.49505106],
       [0.59660579, 0.40339421],
       [0.49917841, 0.50082159],
       [0.78313474, 0.21686526],
       [0.75471528, 0.24528472],
       [0.8292616 , 0.1707384 ],
       [0.58902943, 0.41097057],
       [0.5868048 , 0.4131952 ],
       [0.48350205, 0.51649795],
       [0.5891301 , 0.4108699 ],
       [0.84916005, 0.15083995],
       [0.78300271, 0.21699729],
       [0.78307788, 0.21692212],
       [0.54101014, 0.45898986],
       [0.7591043 , 0.2408957 ],
       [0.76808348, 0.23191652],
       [0.78312374, 0.21687626],
       [0.2549033 , 0.7450967 ],
       [0.30008336, 0.69991664],
       [0.48113939, 0.51886061],
       [0.74834275, 0.25165725],
       [0.38689257, 0.61310743],
       [0.51601041, 0.48398959],
       [0.37317122, 0.62682878],
       [0.4903032 , 0.5096968 ],
       [0.74321785, 0.25678215],
       [0.75022452, 0.24977548],
       [0.74283656, 0.25716344],
       [0.77296734, 0.22703266],
       [0.4977859 , 0.5022141 ],
       [0.43424652, 0.56575348],
       [0.66528348, 0.33471652],
       [0.34215705, 0.65784295],
       [0.73059719, 0.26940281],
       [0.46486417, 0.53513583],
       [0.75951859, 0.24048141],
       [0.71455628, 0.28544372],
       [0.64903234, 0.35096766],
       [0.49043584, 0.50956416],
       [0.37010087, 0.62989913],
       [0.76402836, 0.23597164],
       [0.78313474, 0.21686526],
       [0.71982659, 0.28017341],
       [0.78313474, 0.21686526],
       [0.75439501, 0.24560499],
       [0.79868838, 0.20131162],
       [0.46296032, 0.53703968],
       [0.40438682, 0.59561318],
       [0.32200944, 0.67799056],
       [0.73730237, 0.26269763],
       [0.63130897, 0.36869103],
       [0.7541766 , 0.2458234 ],
       [0.54101014, 0.45898986],
       [0.90435378, 0.09564622],
       [0.73161154, 0.26838846],
       [0.45738093, 0.54261907],
       [0.51814948, 0.48185052],
       [0.78307058, 0.21692942],
       [0.65223355, 0.34776645],
       [0.78957023, 0.21042977],
       [0.78313474, 0.21686526],
       [0.73192936, 0.26807064],
       [0.86587858, 0.13412142],
       [0.77623729, 0.22376271],
       [0.65370121, 0.34629879],
       [0.60472399, 0.39527601],
       [0.78307058, 0.21692942],
       [0.54261803, 0.45738197],
       [0.34615934, 0.65384066],
       [0.78313474, 0.21686526],
       [0.37425163, 0.62574837],
       [0.72597862, 0.27402138],
       [0.47580647, 0.52419353],
       [0.72011387, 0.27988613],
       [0.61024809, 0.38975191],
       [0.55423994, 0.44576006],
       [0.34149083, 0.65850917],
       [0.80356255, 0.19643745],
       [0.49755922, 0.50244078],
       [0.72008996, 0.27991004],
       [0.8268669 , 0.1731331 ],
       [0.35853668, 0.64146332],
       [0.62284461, 0.37715539],
       [0.60891905, 0.39108095],
       [0.47580647, 0.52419353],
       [0.82101502, 0.17898498],
       [0.78313474, 0.21686526],
       [0.76746372, 0.23253628],
       [0.25597705, 0.74402295],
       [0.51207128, 0.48792872],
       [0.78322272, 0.21677728],
       [0.38431716, 0.61568284],
       [0.57291053, 0.42708947],
       [0.36492194, 0.63507806],
       [0.18690948, 0.81309052],
       [0.73475711, 0.26524289],
       [0.25404487, 0.74595513],
       [0.67240431, 0.32759569],
       [0.71374314, 0.28625686],
       [0.16143884, 0.83856116],
       [0.37927925, 0.62072075],
       [0.6938096 , 0.3061904 ],
       [0.30717201, 0.69282799],
       [0.78335466, 0.21664534],
       [0.72585192, 0.27414808],
       [0.40972877, 0.59027123],
       [0.45961697, 0.54038303],
       [0.40861235, 0.59138765],
       [0.76654738, 0.23345262],
       [0.81635043, 0.18364957],
       [0.52540348, 0.47459652],
       [0.75471528, 0.24528472],
       [0.76438629, 0.23561371],
       [0.57782611, 0.42217389],
       [0.32835376, 0.67164624],
       [0.85438003, 0.14561997],
       [0.8299145 , 0.1700855 ],
       [0.38408774, 0.61591226],
       [0.85156311, 0.14843689],
       [0.31665995, 0.68334005],
       [0.46019486, 0.53980514],
       [0.46483508, 0.53516492],
       [0.45565475, 0.54434525],
       [0.78917899, 0.21082101],
       [0.61658356, 0.38341644],
       [0.78307788, 0.21692212],
       [0.73723754, 0.26276246],
       [0.65085958, 0.34914042],
       [0.42440833, 0.57559167],
       [0.53585933, 0.46414067],
       [0.74315604, 0.25684396],
       [0.73733373, 0.26266627],
       [0.78300271, 0.21699729],
       [0.55065128, 0.44934872],
       [0.50211537, 0.49788463],
       [0.51074737, 0.48925263],
       [0.35263489, 0.64736511],
       [0.36727628, 0.63272372],
       [0.78958099, 0.21041901],
       [0.29715105, 0.70284895],
       [0.36147481, 0.63852519],
       [0.40261706, 0.59738294],
       [0.68270776, 0.31729224],
       [0.52427637, 0.47572363],
       [0.30946978, 0.69053022],
       [0.51814948, 0.48185052],
       [0.49678392, 0.50321608],
       [0.47314079, 0.52685921],
       [0.73077348, 0.26922652],
       [0.77172666, 0.22827334],
       [0.74096108, 0.25903892],
       [0.81278432, 0.18721568],
       [0.73091363, 0.26908637],
       [0.77970538, 0.22029462],
       [0.84951643, 0.15048357],
       [0.65017389, 0.34982611],
       [0.49755922, 0.50244078],
       [0.56853454, 0.43146546],
       [0.71927765, 0.28072235],
       [0.80419736, 0.19580264],
       [0.79868492, 0.20131508],
       [0.64160554, 0.35839446],
       [0.76439016, 0.23560984],
       [0.4032867 , 0.5967133 ],
       [0.84540402, 0.15459598],
       [0.70864988, 0.29135012],
       [0.33553893, 0.66446107],
       [0.77970538, 0.22029462],
       [0.77583203, 0.22416797],
       [0.55096659, 0.44903341],
       [0.61715615, 0.38284385],
       [0.30374287, 0.69625713],
       [0.78494537, 0.21505463],
       [0.81699528, 0.18300472],
       [0.52465371, 0.47534629],
       [0.75299795, 0.24700205],
       [0.78307058, 0.21692942],
       [0.74276024, 0.25723976],
       [0.45365047, 0.54634953],
       [0.72585192, 0.27414808],
       [0.78314024, 0.21685976],
       [0.48189001, 0.51810999],
       [0.4438903 , 0.5561097 ],
       [0.72063574, 0.27936426],
       [0.7644057 , 0.2355943 ],
       [0.50840902, 0.49159098],
       [0.47881504, 0.52118496],
       [0.78458619, 0.21541381],
       [0.46135039, 0.53864961],
       [0.3659991 , 0.6340009 ],
       [0.70826425, 0.29173575],
       [0.46231625, 0.53768375],
       [0.75917535, 0.24082465],
       [0.73731281, 0.26268719],
       [0.77395528, 0.22604472],
       [0.75471528, 0.24528472],
       [0.56943279, 0.43056721],
       [0.49777101, 0.50222899],
       [0.38901103, 0.61098897],
       [0.79369812, 0.20630188],
       [0.8081044 , 0.1918956 ],
       [0.44791981, 0.55208019],
       [0.51358013, 0.48641987],
       [0.78300271, 0.21699729],
       [0.48974752, 0.51025248],
       [0.7483285 , 0.2516715 ],
       [0.78307058, 0.21692942],
       [0.7833638 , 0.2166362 ],
       [0.74992544, 0.25007456],
       [0.26528541, 0.73471459],
       [0.41670441, 0.58329559],
       [0.72010082, 0.27989918],
       [0.79436339, 0.20563661],
       [0.58975706, 0.41024294],
       [0.80850583, 0.19149417],
       [0.77981848, 0.22018152],
       [0.78300271, 0.21699729],
       [0.79430168, 0.20569832],
       [0.35913068, 0.64086932],
       [0.80649634, 0.19350366],
       [0.83744715, 0.16255285],
       [0.34441087, 0.65558913],
       [0.76999696, 0.23000304],
       [0.70732656, 0.29267344],
       [0.76092199, 0.23907801],
       [0.53426106, 0.46573894],
       [0.74288605, 0.25711395],
       [0.72585192, 0.27414808],
       [0.77350282, 0.22649718],
       [0.77395528, 0.22604472],
       [0.61049658, 0.38950342],
       [0.74951223, 0.25048777],
       [0.78307058, 0.21692942],
       [0.429812  , 0.570188  ],
       [0.65284389, 0.34715611],
       [0.78458619, 0.21541381],
       [0.78300271, 0.21699729],
       [0.44856056, 0.55143944],
       [0.51932121, 0.48067879],
       [0.30171036, 0.69828964],
       [0.85128055, 0.14871945],
       [0.40219955, 0.59780045],
       [0.78336565, 0.21663435],
       [0.7829752 , 0.2170248 ],
       [0.45955135, 0.54044865],
       [0.79410406, 0.20589594],
       [0.53263611, 0.46736389],
       [0.75638048, 0.24361952],
       [0.40731429, 0.59268571],
       [0.84265862, 0.15734138],
       [0.77663829, 0.22336171],
       [0.78318788, 0.21681212],
       [0.20102011, 0.79897989],
       [0.33035853, 0.66964147],
       [0.78402952, 0.21597048],
       [0.55538865, 0.44461135],
       [0.75942394, 0.24057606],
       [0.78313474, 0.21686526],
       [0.37688022, 0.62311978],
       [0.84540402, 0.15459598],
       [0.48740581, 0.51259419],
       [0.82199877, 0.17800123],
       [0.73157552, 0.26842448],
       [0.78332717, 0.21667283],
       [0.77378748, 0.22621252],
       [0.77614727, 0.22385273],
       [0.22139394, 0.77860606],
       [0.82130673, 0.17869327],
       [0.38505733, 0.61494267],
       [0.75471528, 0.24528472],
       [0.77466835, 0.22533165],
       [0.74302211, 0.25697789],
       [0.78300271, 0.21699729],
       [0.78300271, 0.21699729],
       [0.7371748 , 0.2628252 ],
       [0.7371748 , 0.2628252 ],
       [0.31091647, 0.68908353],
       [0.73732535, 0.26267465],
       [0.78313474, 0.21686526],
       [0.78015005, 0.21984995],
       [0.37208358, 0.62791642],
       [0.42004133, 0.57995867],
       [0.52933884, 0.47066116],
       [0.19111083, 0.80888917],
       [0.7695742 , 0.2304258 ],
       [0.72571657, 0.27428343],
       [0.67068998, 0.32931002],
       [0.78300271, 0.21699729],
       [0.81262658, 0.18737342],
       [0.28830751, 0.71169249],
       [0.36738715, 0.63261285],
       [0.42649509, 0.57350491],
       [0.70747848, 0.29252152],
       [0.68687319, 0.31312681],
       [0.59243308, 0.40756692],
       [0.76922178, 0.23077822],
       [0.75951859, 0.24048141],
       [0.84212379, 0.15787621],
       [0.78313474, 0.21686526],
       [0.75369597, 0.24630403],
       [0.56065953, 0.43934047],
       [0.39321439, 0.60678561],
       [0.78307058, 0.21692942],
       [0.42554484, 0.57445516],
       [0.71659984, 0.28340016],
       [0.46857183, 0.53142817],
       [0.80613009, 0.19386991],
       [0.9219428 , 0.0780572 ],
       [0.78314209, 0.21685791],
       [0.60339178, 0.39660822],
       [0.7801704 , 0.2198296 ],
       [0.78307058, 0.21692942],
       [0.35572635, 0.64427365],
       [0.44222144, 0.55777856],
       [0.80816635, 0.19183365],
       [0.7752382 , 0.2247618 ],
       [0.78236375, 0.21763625],
       [0.27876297, 0.72123703],
       [0.37028462, 0.62971538],
       [0.74316633, 0.25683367],
       [0.48642185, 0.51357815],
       [0.32563404, 0.67436596],
       [0.51816016, 0.48183984],
       [0.40256338, 0.59743662],
       [0.5978803 , 0.4021197 ],
       [0.87022828, 0.12977172],
       [0.32073823, 0.67926177],
       [0.78313474, 0.21686526],
       [0.3050777 , 0.6949223 ],
       [0.44276821, 0.55723179],
       [0.78307788, 0.21692212],
       [0.61926253, 0.38073747],
       [0.69420769, 0.30579231],
       [0.47018497, 0.52981503],
       [0.77977298, 0.22022702],
       [0.51368941, 0.48631059],
       [0.46084072, 0.53915928],
       [0.74290871, 0.25709129],
       [0.35614035, 0.64385965],
       [0.44771777, 0.55228223],
       [0.7833638 , 0.2166362 ],
       [0.37208358, 0.62791642],
       [0.35870066, 0.64129934],
       [0.41761959, 0.58238041],
       [0.6030075 , 0.3969925 ],
       [0.26945161, 0.73054839],
       [0.65887303, 0.34112697],
       [0.76283881, 0.23716119],
       [0.60607223, 0.39392777],
       [0.56739334, 0.43260666],
       [0.31809895, 0.68190105],
       [0.51294636, 0.48705364],
       [0.60969808, 0.39030192],
       [0.78016858, 0.21983142],
       [0.29823207, 0.70176793],
       [0.77468155, 0.22531845],
       [0.79567425, 0.20432575],
       [0.5430712 , 0.4569288 ],
       [0.70251213, 0.29748787],
       [0.78314574, 0.21685426],
       [0.25490809, 0.74509191],
       [0.54101014, 0.45898986],
       [0.81572139, 0.18427861],
       [0.59816454, 0.40183546],
       [0.30544821, 0.69455179],
       [0.46135039, 0.53864961],
       [0.75919113, 0.24080887],
       [0.73737553, 0.26262447],
       [0.48461037, 0.51538963],
       [0.72024659, 0.27975341],
       [0.72010082, 0.27989918],
       [0.55818165, 0.44181835],
       [0.4851249 , 0.5148751 ],
       [0.31016378, 0.68983622],
       [0.81219939, 0.18780061],
       [0.30852847, 0.69147153],
       [0.42554484, 0.57445516],
       [0.65370121, 0.34629879],
       [0.73730027, 0.26269973],
       [0.46601406, 0.53398594],
       [0.78311824, 0.21688176],
       [0.7833638 , 0.2166362 ],
       [0.74851143, 0.25148857],
       [0.43317976, 0.56682024],
       [0.48466879, 0.51533121],
       [0.77750384, 0.22249616],
       [0.50973633, 0.49026367],
       [0.46741392, 0.53258608],
       [0.46857183, 0.53142817],
       [0.46968115, 0.53031885],
       [0.75917535, 0.24082465],
       [0.31565445, 0.68434555],
       [0.82162809, 0.17837191],
       [0.75138907, 0.24861093],
       [0.71473055, 0.28526945],
       [0.73202044, 0.26797956],
       [0.41909494, 0.58090506],
       [0.77106421, 0.22893579],
       [0.44449076, 0.55550924],
       [0.54981311, 0.45018689],
       [0.78395061, 0.21604939],
       [0.49723539, 0.50276461],
       [0.7644057 , 0.2355943 ],
       [0.40861235, 0.59138765],
       [0.76053679, 0.23946321],
       [0.62365682, 0.37634318],
       [0.78352683, 0.21647317],
       [0.80958843, 0.19041157],
       [0.72644222, 0.27355778],
       [0.33574441, 0.66425559],
       [0.51207128, 0.48792872],
       [0.39372021, 0.60627979],
       [0.78322272, 0.21677728],
       [0.27544412, 0.72455588],
       [0.49080718, 0.50919282],
       [0.71739848, 0.28260152],
       [0.78493627, 0.21506373],
       [0.51814948, 0.48185052],
       [0.38650299, 0.61349701],
       [0.77943826, 0.22056174],
       [0.58211421, 0.41788579],
       [0.78431787, 0.21568213],
       [0.52427283, 0.47572717],
       [0.74836305, 0.25163695],
       [0.66023625, 0.33976375],
       [0.78307058, 0.21692942],
       [0.77694334, 0.22305666],
       [0.76131246, 0.23868754],
       [0.77134572, 0.22865428],
       [0.7020788 , 0.2979212 ],
       [0.5978803 , 0.4021197 ],
       [0.78296419, 0.21703581],
       [0.71374314, 0.28625686],
       [0.20050655, 0.79949345],
       [0.70810363, 0.29189637],
       [0.78307058, 0.21692942],
       [0.84925957, 0.15074043],
       [0.8255165 , 0.1744835 ],
       [0.57677644, 0.42322356],
       [0.78335466, 0.21664534],
       [0.71902036, 0.28097964],
       [0.65939343, 0.34060657],
       [0.75471528, 0.24528472],
       [0.38625381, 0.61374619],
       [0.78016858, 0.21983142],
       [0.33921785, 0.66078215],
       [0.35672306, 0.64327694],
       [0.78336565, 0.21663435],
       [0.53985506, 0.46014494],
       [0.69023785, 0.30976215],
       [0.37279254, 0.62720746],
       [0.64551009, 0.35448991],
       [0.26097082, 0.73902918],
       [0.78271094, 0.21728906],
       [0.46135039, 0.53864961],
       [0.81663078, 0.18336922],
       [0.92894383, 0.07105617],
       [0.49755922, 0.50244078],
       [0.51929419, 0.48070581],
       [0.82909009, 0.17090991],
       [0.28114386, 0.71885614],
       [0.24847325, 0.75152675],
       [0.73311416, 0.26688584],
       [0.60652131, 0.39347869],
       [0.77470036, 0.22529964],
       [0.53017993, 0.46982007],
       [0.74315604, 0.25684396],
       [0.59169522, 0.40830478],
       [0.77472677, 0.22527323],
       [0.78309989, 0.21690011],
       [0.7833638 , 0.2166362 ],
       [0.61832198, 0.38167802],
       [0.59116761, 0.40883239],
       [0.26390925, 0.73609075],
       [0.76438629, 0.23561371],
       [0.30800266, 0.69199734],
       [0.33176506, 0.66823494],
       [0.32499591, 0.67500409],
       [0.60215773, 0.39784227],
       [0.80356255, 0.19643745],
       [0.16864452, 0.83135548],
       [0.79431929, 0.20568071],
       [0.74315604, 0.25684396],
       [0.78300271, 0.21699729],
       [0.77943826, 0.22056174],
       [0.46760427, 0.53239573],
       [0.66499497, 0.33500503],
       [0.60215773, 0.39784227],
       [0.77468155, 0.22531845],
       [0.79428932, 0.20571068],
       [0.87014048, 0.12985952],
       [0.7752382 , 0.2247618 ],
       [0.78950566, 0.21049434]])

In [59]:
logit.score(X_train, y_train)

0.6847389558232931

In [60]:
print(confusion_matrix(y_train, y_pred))

[[247  60]
 [ 97  94]]

In [61]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.72      0.80      0.76       307
           1       0.61      0.49      0.54       191

    accuracy                           0.68       498
   macro avg       0.66      0.65      0.65       498
weighted avg       0.68      0.68      0.68       498

68% Accuracy