In [62]:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression

In [63]:
import os

In [64]:
def new_titanic_data():
    sql_query = 'SELECT * FROM passengers'
    df = pd.read_sql(sql_query, get_connection('titanic_db'))
    df.to_csv('titanic_df.csv')
    return df

In [65]:
def get_titanic_data(cached=False):
    if cached or os.path.isfile('titanic_df.csv') == False:
        df = new_titanic_data()
    else:
        df = pd.read_csv('titanic_df.csv', index_col=0)
    return df

In [66]:
titanic = get_titanic_data()

In [6]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [67]:
def titanic_split(df):

    train_validate, test = train_test_split(df, test_size=.2,
                                        random_state=123,
                                        stratify=df.survived)
    train, validate = train_test_split(train_validate, test_size=.3,
                                        random_state=123,
                                        stratify=train_validate.survived)
    return train, validate, test

def impute_mean_age(train, validate, test):

    imputer = SimpleImputer(strategy = 'mean')

    train['age'] = imputer.fit_transform(train[['age']])

    validate['age'] = imputer.transform(validate[['age']])

    test['age'] = imputer.transform(test[['age']])

    return train, validate, test

def prep_titanic_data(cached=True):
#     df = get_titanic_data(cached)
    df = df[~df.embarked.isnull()]
    titanic_dummies = pd.get_dummies(df.embarked, drop_first=True)
    df = pd.concat([df, titanic_dummies], axis=1)
    df = df.drop(columns='deck')

    train, validate, test = titanic_split(df)

    train, validate, test = impute_mean_age(train, validate, test)

    return train, validate, test

In [68]:
 titanic = titanic[~titanic.embarked.isnull()]

In [69]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [70]:
titanic_dummies = pd.get_dummies(titanic[['sex', 'embark_town', 'class']], drop_first=True)

In [71]:
titanic = pd.concat([titanic, titanic_dummies], axis=1)

In [72]:
titanic = titanic.drop(columns=['embark_town','class', 'sex', 'pclass'])

In [73]:
titanic.head()

,passenger_id,survived,age,sibsp,parch,fare,embarked,deck,alone,sex_male,embark_town_Queenstown,embark_town_Southampton,class_Second,class_Third
0,0,0,22.0,1,0,7.2500,S,NaN,0,1,0,1,0,1
1,1,1,38.0,1,0,71.2833,C,C,0,0,0,0,0,0
2,2,1,26.0,0,0,7.9250,S,NaN,1,0,0,1,0,1
3,3,1,35.0,1,0,53.1000,S,C,0,0,0,1,0,0
4,4,0,35.0,0,0,8.0500,S,NaN,1,1,0,1,0,1

In [74]:
titanic = titanic.drop(columns='deck')

In [75]:
train, validate, test = titanic_split(titanic)

In [76]:
train.age.isnull().values.any()

True

In [77]:
train, validate, test = impute_mean_age(train, validate, test)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [78]:
train.shape

(497, 13)

In [79]:
validate.shape

(214, 13)

In [80]:
test.shape

(178, 13)

In [81]:
test.head()

,passenger_id,survived,age,sibsp,parch,fare,embarked,alone,sex_male,embark_town_Queenstown,embark_town_Southampton,class_Second,class_Third
561,561,0,40.000000,0,0,7.8958,S,1,1,0,1,0,1
328,328,1,31.000000,1,1,20.5250,S,0,0,0,1,0,1
643,643,1,29.916875,0,0,56.4958,S,1,1,0,1,0,1
498,498,0,25.000000,1,2,151.5500,S,0,0,0,1,0,0
875,875,1,15.000000,0,0,7.2250,C,1,0,0,0,0,1

In [82]:
train.survived.value_counts(normalize=True)

0    0.617706
1    0.382294
Name: survived, dtype: float64

In [83]:
logit = LogisticRegression()

In [84]:
X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [85]:
logit = logit.fit(X_train, y_train)

ValueError: could not convert string to float: 'C'

In [27]:
X_train.columns

Index(['passenger_id',          'age',        'sibsp',        'parch',
               'fare',     'embarked',         'deck',        'alone',
                    2,              3],
      dtype='object')

In [29]:
logit.coef_

AttributeError: 'LogisticRegression' object has no attribute 'coef_'

In [ ]:
y_pred = logit.predict(X_train)
y_pred_proba = logit.predict_proba(X_train)

In [ ]:
y_pred_proba

In [ ]:
logit.score(X_train, y_train)

In [ ]:
print(confusion_matrix(y_train, y_pred))

In [ ]:
print(classification_report(y_train, y_pred))

In [34]:
titanic2 = get_titanic_data()

In [35]:
titanic2.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [36]:
titanic2.age.isnull().values.any()

True

Create another model that includes age in addition to fare and pclass. Does this model perform better than your previous one?

In [37]:
titanic2 = titanic2.drop(columns=['sex', 'sibsp', 'parch', 'embarked','class', 'deck','embark_town', 'alone'])

In [38]:
titanic2.head()

   passenger_id  survived  pclass   age     fare
0             0         0       3  22.0   7.2500
1             1         1       1  38.0  71.2833
2             2         1       3  26.0   7.9250
3             3         1       1  35.0  53.1000
4             4         0       3  35.0   8.0500

In [39]:
titanic2 = titanic2.drop(columns='passenger_id')

In [40]:
titanic2.head()

   survived  pclass   age     fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [41]:
titanic2_dummies = pd.get_dummies(titanic2.pclass, drop_first=True)

In [42]:
titanic2 = pd.concat([titanic2, titanic2_dummies], axis=1)

In [43]:
titanic2.head()

   survived  pclass   age     fare  2  3
0         0       3  22.0   7.2500  0  1
1         1       1  38.0  71.2833  0  0
2         1       3  26.0   7.9250  0  1
3         1       1  35.0  53.1000  0  0
4         0       3  35.0   8.0500  0  1

In [44]:
train, validate, test = titanic_split(titanic2)

In [45]:
train.head()

     survived  pclass   age      fare  2  3
583         0       1  36.0   40.1250  0  0
165         1       3   9.0   20.5250  0  1
50          0       3   7.0   39.6875  0  1
259         1       2  50.0   26.0000  1  0
306         1       1   NaN  110.8833  0  0

In [46]:
train.isnull().values.any()

True

In [47]:
impute_mean_age(train, validate, test)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(     survived  pclass        age      fare  2  3
 583         0       1  36.000000   40.1250  0  0
 165         1       3   9.000000   20.5250  0  1
 50          0       3   7.000000   39.6875  0  1
 259         1       2  50.000000   26.0000  1  0
 306         1       1  29.678105  110.8833  0  0
 ..        ...     ...        ...       ... .. ..
 313         0       3  28.000000    7.8958  0  1
 636         0       3  32.000000    7.9250  0  1
 222         0       3  51.000000    8.0500  0  1
 485         0       3  29.678105   25.4667  0  1
 744         1       3  31.000000    7.9250  0  1

 [498 rows x 6 columns],
      survived  pclass        age      fare  2  3
 610         0       3  39.000000   31.2750  0  1
 424         0       3  18.000000   20.2125  0  1
 568         0       3  29.678105    7.2292  0  1
 334         1       1  29.678105  133.6500  0  0
 101         0       3  29.678105    7.8958  0  1
 ..        ...     ...        ...       ... .. ..
 176         0       3  29.678105   25.4667  0  1
 372         0       3  19.000000    8.0500  0  1
 737         1       1  35.000000  512.3292  0  0
 862         1       1  48.000000   25.9292  0  0
 26          0       3  29.678105    7.2250  0  1

 [214 rows x 6 columns],
      survived  pclass        age      fare  2  3
 561         0       3  40.000000    7.8958  0  1
 641         1       1  24.000000   69.3000  0  0
 400         1       3  39.000000    7.9250  0  1
 498         0       1  25.000000  151.5500  0  0
 875         1       3  15.000000    7.2250  0  1
 ..        ...     ...        ...       ... .. ..
 339         0       1  45.000000   35.5000  0  0
 841         0       2  16.000000   10.5000  1  0
 442         0       3  25.000000    7.7750  0  1
 815         0       1  29.678105    0.0000  0  0
 53          1       2  29.000000   26.0000  1  0

 [179 rows x 6 columns])

In [48]:
train.shape

(498, 6)

In [50]:
train.age.isnull().values.any()

False

In [51]:
train.survived.value_counts(normalize=True)

0    0.616466
1    0.383534
Name: survived, dtype: float64

In [52]:
logit = LogisticRegression()

In [53]:
X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [54]:
logit = logit.fit(X_train, y_train)

In [55]:
X_train.columns

Index(['pclass', 'age', 'fare', 2, 3], dtype='object')

In [56]:
print(logit.coef_)

[[-0.67260505 -0.02902885  0.00259074  0.14850399 -0.41036784]]

In [57]:
y_pred = logit.predict(X_train)
y_pred_proba = logit.predict_proba(X_train)

In [58]:
y_pred_proba

array([[0.40808026, 0.59191974],
       [0.65716147, 0.34283853],
       [0.63250245, 0.36749755],
       [0.64455554, 0.35544446],
       [0.32327957, 0.67672043],
       [0.50494894, 0.49505106],
       [0.59660579, 0.40339421],
       [0.49917841, 0.50082159],
       [0.78313474, 0.21686526],
       [0.75471528, 0.24528472],
       [0.8292616 , 0.1707384 ],
       [0.58902943, 0.41097057],
       [0.5868048 , 0.4131952 ],
       [0.48350205, 0.51649795],
       [0.5891301 , 0.4108699 ],
       [0.84916005, 0.15083995],
       [0.78300271, 0.21699729],
       [0.78307788, 0.21692212],
       [0.54101014, 0.45898986],
       [0.7591043 , 0.2408957 ],
       [0.76808348, 0.23191652],
       [0.78312374, 0.21687626],
       [0.2549033 , 0.7450967 ],
       [0.30008336, 0.69991664],
       [0.48113939, 0.51886061],
       [0.74834275, 0.25165725],
       [0.38689257, 0.61310743],
       [0.51601041, 0.48398959],
       [0.37317122, 0.62682878],
       [0.4903032 , 0.5096968 ],
       [0.74321785, 0.25678215],
       [0.75022452, 0.24977548],
       [0.74283656, 0.25716344],
       [0.77296734, 0.22703266],
       [0.4977859 , 0.5022141 ],
       [0.43424652, 0.56575348],
       [0.66528348, 0.33471652],
       [0.34215705, 0.65784295],
       [0.73059719, 0.26940281],
       [0.46486417, 0.53513583],
       [0.75951859, 0.24048141],
       [0.71455628, 0.28544372],
       [0.64903234, 0.35096766],
       [0.49043584, 0.50956416],
       [0.37010087, 0.62989913],
       [0.76402836, 0.23597164],
       [0.78313474, 0.21686526],
       [0.71982659, 0.28017341],
       [0.78313474, 0.21686526],
       [0.75439501, 0.24560499],
       [0.79868838, 0.20131162],
       [0.46296032, 0.53703968],
       [0.40438682, 0.59561318],
       [0.32200944, 0.67799056],
       [0.73730237, 0.26269763],
       [0.63130897, 0.36869103],
       [0.7541766 , 0.2458234 ],
       [0.54101014, 0.45898986],
       [0.90435378, 0.09564622],
       [0.73161154, 0.26838846],
       [0.45738093, 0.54261907],
       [0.51814948, 0.48185052],
       [0.78307058, 0.21692942],
       [0.65223355, 0.34776645],
       [0.78957023, 0.21042977],
       [0.78313474, 0.21686526],
       [0.73192936, 0.26807064],
       [0.86587858, 0.13412142],
       [0.77623729, 0.22376271],
       [0.65370121, 0.34629879],
       [0.60472399, 0.39527601],
       [0.78307058, 0.21692942],
       [0.54261803, 0.45738197],
       [0.34615934, 0.65384066],
       [0.78313474, 0.21686526],
       [0.37425163, 0.62574837],
       [0.72597862, 0.27402138],
       [0.47580647, 0.52419353],
       [0.72011387, 0.27988613],
       [0.61024809, 0.38975191],
       [0.55423994, 0.44576006],
       [0.34149083, 0.65850917],
       [0.80356255, 0.19643745],
       [0.49755922, 0.50244078],
       [0.72008996, 0.27991004],
       [0.8268669 , 0.1731331 ],
       [0.35853668, 0.64146332],
       [0.62284461, 0.37715539],
       [0.60891905, 0.39108095],
       [0.47580647, 0.52419353],
       [0.82101502, 0.17898498],
       [0.78313474, 0.21686526],
       [0.76746372, 0.23253628],
       [0.25597705, 0.74402295],
       [0.51207128, 0.48792872],
       [0.78322272, 0.21677728],
       [0.38431716, 0.61568284],
       [0.57291053, 0.42708947],
       [0.36492194, 0.63507806],
       [0.18690948, 0.81309052],
       [0.73475711, 0.26524289],
       [0.25404487, 0.74595513],
       [0.67240431, 0.32759569],
       [0.71374314, 0.28625686],
       [0.16143884, 0.83856116],
       [0.37927925, 0.62072075],
       [0.6938096 , 0.3061904 ],
       [0.30717201, 0.69282799],
       [0.78335466, 0.21664534],
       [0.72585192, 0.27414808],
       [0.40972877, 0.59027123],
       [0.45961697, 0.54038303],
       [0.40861235, 0.59138765],
       [0.76654738, 0.23345262],
       [0.81635043, 0.18364957],
       [0.52540348, 0.47459652],
       [0.75471528, 0.24528472],
       [0.76438629, 0.23561371],
       [0.57782611, 0.42217389],
       [0.32835376, 0.67164624],
       [0.85438003, 0.14561997],
       [0.8299145 , 0.1700855 ],
       [0.38408774, 0.61591226],
       [0.85156311, 0.14843689],
       [0.31665995, 0.68334005],
       [0.46019486, 0.53980514],
       [0.46483508, 0.53516492],
       [0.45565475, 0.54434525],
       [0.78917899, 0.21082101],
       [0.61658356, 0.38341644],
       [0.78307788, 0.21692212],
       [0.73723754, 0.26276246],
       [0.65085958, 0.34914042],
       [0.42440833, 0.57559167],
       [0.53585933, 0.46414067],
       [0.74315604, 0.25684396],
       [0.73733373, 0.26266627],
       [0.78300271, 0.21699729],
       [0.55065128, 0.44934872],
       [0.50211537, 0.49788463],
       [0.51074737, 0.48925263],
       [0.35263489, 0.64736511],
       [0.36727628, 0.63272372],
       [0.78958099, 0.21041901],
       [0.29715105, 0.70284895],
       [0.36147481, 0.63852519],
       [0.40261706, 0.59738294],
       [0.68270776, 0.31729224],
       [0.52427637, 0.47572363],
       [0.30946978, 0.69053022],
       [0.51814948, 0.48185052],
       [0.49678392, 0.50321608],
       [0.47314079, 0.52685921],
       [0.73077348, 0.26922652],
       [0.77172666, 0.22827334],
       [0.74096108, 0.25903892],
       [0.81278432, 0.18721568],
       [0.73091363, 0.26908637],
       [0.77970538, 0.22029462],
       [0.84951643, 0.15048357],
       [0.65017389, 0.34982611],
       [0.49755922, 0.50244078],
       [0.56853454, 0.43146546],
       [0.71927765, 0.28072235],
       [0.80419736, 0.19580264],
       [0.79868492, 0.20131508],
       [0.64160554, 0.35839446],
       [0.76439016, 0.23560984],
       [0.4032867 , 0.5967133 ],
       [0.84540402, 0.15459598],
       [0.70864988, 0.29135012],
       [0.33553893, 0.66446107],
       [0.77970538, 0.22029462],
       [0.77583203, 0.22416797],
       [0.55096659, 0.44903341],
       [0.61715615, 0.38284385],
       [0.30374287, 0.69625713],
       [0.78494537, 0.21505463],
       [0.81699528, 0.18300472],
       [0.52465371, 0.47534629],
       [0.75299795, 0.24700205],
       [0.78307058, 0.21692942],
       [0.74276024, 0.25723976],
       [0.45365047, 0.54634953],
       [0.72585192, 0.27414808],
       [0.78314024, 0.21685976],
       [0.48189001, 0.51810999],
       [0.4438903 , 0.5561097 ],
       [0.72063574, 0.27936426],
       [0.7644057 , 0.2355943 ],
       [0.50840902, 0.49159098],
       [0.47881504, 0.52118496],
       [0.78458619, 0.21541381],
       [0.46135039, 0.53864961],
       [0.3659991 , 0.6340009 ],
       [0.70826425, 0.29173575],
       [0.46231625, 0.53768375],
       [0.75917535, 0.24082465],
       [0.73731281, 0.26268719],
       [0.77395528, 0.22604472],
       [0.75471528, 0.24528472],
       [0.56943279, 0.43056721],
       [0.49777101, 0.50222899],
       [0.38901103, 0.61098897],
       [0.79369812, 0.20630188],
       [0.8081044 , 0.1918956 ],
       [0.44791981, 0.55208019],
       [0.51358013, 0.48641987],
       [0.78300271, 0.21699729],
       [0.48974752, 0.51025248],
       [0.7483285 , 0.2516715 ],
       [0.78307058, 0.21692942],
       [0.7833638 , 0.2166362 ],
       [0.74992544, 0.25007456],
       [0.26528541, 0.73471459],
       [0.41670441, 0.58329559],
       [0.72010082, 0.27989918],
       [0.79436339, 0.20563661],
       [0.58975706, 0.41024294],
       [0.80850583, 0.19149417],
       [0.77981848, 0.22018152],
       [0.78300271, 0.21699729],
       [0.79430168, 0.20569832],
       [0.35913068, 0.64086932],
       [0.80649634, 0.19350366],
       [0.83744715, 0.16255285],
       [0.34441087, 0.65558913],
       [0.76999696, 0.23000304],
       [0.70732656, 0.29267344],
       [0.76092199, 0.23907801],
       [0.53426106, 0.46573894],
       [0.74288605, 0.25711395],
       [0.72585192, 0.27414808],
       [0.77350282, 0.22649718],
       [0.77395528, 0.22604472],
       [0.61049658, 0.38950342],
       [0.74951223, 0.25048777],
       [0.78307058, 0.21692942],
       [0.429812  , 0.570188  ],
       [0.65284389, 0.34715611],
       [0.78458619, 0.21541381],
       [0.78300271, 0.21699729],
       [0.44856056, 0.55143944],
       [0.51932121, 0.48067879],
       [0.30171036, 0.69828964],
       [0.85128055, 0.14871945],
       [0.40219955, 0.59780045],
       [0.78336565, 0.21663435],
       [0.7829752 , 0.2170248 ],
       [0.45955135, 0.54044865],
       [0.79410406, 0.20589594],
       [0.53263611, 0.46736389],
       [0.75638048, 0.24361952],
       [0.40731429, 0.59268571],
       [0.84265862, 0.15734138],
       [0.77663829, 0.22336171],
       [0.78318788, 0.21681212],
       [0.20102011, 0.79897989],
       [0.33035853, 0.66964147],
       [0.78402952, 0.21597048],
       [0.55538865, 0.44461135],
       [0.75942394, 0.24057606],
       [0.78313474, 0.21686526],
       [0.37688022, 0.62311978],
       [0.84540402, 0.15459598],
       [0.48740581, 0.51259419],
       [0.82199877, 0.17800123],
       [0.73157552, 0.26842448],
       [0.78332717, 0.21667283],
       [0.77378748, 0.22621252],
       [0.77614727, 0.22385273],
       [0.22139394, 0.77860606],
       [0.82130673, 0.17869327],
       [0.38505733, 0.61494267],
       [0.75471528, 0.24528472],
       [0.77466835, 0.22533165],
       [0.74302211, 0.25697789],
       [0.78300271, 0.21699729],
       [0.78300271, 0.21699729],
       [0.7371748 , 0.2628252 ],
       [0.7371748 , 0.2628252 ],
       [0.31091647, 0.68908353],
       [0.73732535, 0.26267465],
       [0.78313474, 0.21686526],
       [0.78015005, 0.21984995],
       [0.37208358, 0.62791642],
       [0.42004133, 0.57995867],
       [0.52933884, 0.47066116],
       [0.19111083, 0.80888917],
       [0.7695742 , 0.2304258 ],
       [0.72571657, 0.27428343],
       [0.67068998, 0.32931002],
       [0.78300271, 0.21699729],
       [0.81262658, 0.18737342],
       [0.28830751, 0.71169249],
       [0.36738715, 0.63261285],
       [0.42649509, 0.57350491],
       [0.70747848, 0.29252152],
       [0.68687319, 0.31312681],
       [0.59243308, 0.40756692],
       [0.76922178, 0.23077822],
       [0.75951859, 0.24048141],
       [0.84212379, 0.15787621],
       [0.78313474, 0.21686526],
       [0.75369597, 0.24630403],
       [0.56065953, 0.43934047],
       [0.39321439, 0.60678561],
       [0.78307058, 0.21692942],
       [0.42554484, 0.57445516],
       [0.71659984, 0.28340016],
       [0.46857183, 0.53142817],
       [0.80613009, 0.19386991],
       [0.9219428 , 0.0780572 ],
       [0.78314209, 0.21685791],
       [0.60339178, 0.39660822],
       [0.7801704 , 0.2198296 ],
       [0.78307058, 0.21692942],
       [0.35572635, 0.64427365],
       [0.44222144, 0.55777856],
       [0.80816635, 0.19183365],
       [0.7752382 , 0.2247618 ],
       [0.78236375, 0.21763625],
       [0.27876297, 0.72123703],
       [0.37028462, 0.62971538],
       [0.74316633, 0.25683367],
       [0.48642185, 0.51357815],
       [0.32563404, 0.67436596],
       [0.51816016, 0.48183984],
       [0.40256338, 0.59743662],
       [0.5978803 , 0.4021197 ],
       [0.87022828, 0.12977172],
       [0.32073823, 0.67926177],
       [0.78313474, 0.21686526],
       [0.3050777 , 0.6949223 ],
       [0.44276821, 0.55723179],
       [0.78307788, 0.21692212],
       [0.61926253, 0.38073747],
       [0.69420769, 0.30579231],
       [0.47018497, 0.52981503],
       [0.77977298, 0.22022702],
       [0.51368941, 0.48631059],
       [0.46084072, 0.53915928],
       [0.74290871, 0.25709129],
       [0.35614035, 0.64385965],
       [0.44771777, 0.55228223],
       [0.7833638 , 0.2166362 ],
       [0.37208358, 0.62791642],
       [0.35870066, 0.64129934],
       [0.41761959, 0.58238041],
       [0.6030075 , 0.3969925 ],
       [0.26945161, 0.73054839],
       [0.65887303, 0.34112697],
       [0.76283881, 0.23716119],
       [0.60607223, 0.39392777],
       [0.56739334, 0.43260666],
       [0.31809895, 0.68190105],
       [0.51294636, 0.48705364],
       [0.60969808, 0.39030192],
       [0.78016858, 0.21983142],
       [0.29823207, 0.70176793],
       [0.77468155, 0.22531845],
       [0.79567425, 0.20432575],
       [0.5430712 , 0.4569288 ],
       [0.70251213, 0.29748787],
       [0.78314574, 0.21685426],
       [0.25490809, 0.74509191],
       [0.54101014, 0.45898986],
       [0.81572139, 0.18427861],
       [0.59816454, 0.40183546],
       [0.30544821, 0.69455179],
       [0.46135039, 0.53864961],
       [0.75919113, 0.24080887],
       [0.73737553, 0.26262447],
       [0.48461037, 0.51538963],
       [0.72024659, 0.27975341],
       [0.72010082, 0.27989918],
       [0.55818165, 0.44181835],
       [0.4851249 , 0.5148751 ],
       [0.31016378, 0.68983622],
       [0.81219939, 0.18780061],
       [0.30852847, 0.69147153],
       [0.42554484, 0.57445516],
       [0.65370121, 0.34629879],
       [0.73730027, 0.26269973],
       [0.46601406, 0.53398594],
       [0.78311824, 0.21688176],
       [0.7833638 , 0.2166362 ],
       [0.74851143, 0.25148857],
       [0.43317976, 0.56682024],
       [0.48466879, 0.51533121],
       [0.77750384, 0.22249616],
       [0.50973633, 0.49026367],
       [0.46741392, 0.53258608],
       [0.46857183, 0.53142817],
       [0.46968115, 0.53031885],
       [0.75917535, 0.24082465],
       [0.31565445, 0.68434555],
       [0.82162809, 0.17837191],
       [0.75138907, 0.24861093],
       [0.71473055, 0.28526945],
       [0.73202044, 0.26797956],
       [0.41909494, 0.58090506],
       [0.77106421, 0.22893579],
       [0.44449076, 0.55550924],
       [0.54981311, 0.45018689],
       [0.78395061, 0.21604939],
       [0.49723539, 0.50276461],
       [0.7644057 , 0.2355943 ],
       [0.40861235, 0.59138765],
       [0.76053679, 0.23946321],
       [0.62365682, 0.37634318],
       [0.78352683, 0.21647317],
       [0.80958843, 0.19041157],
       [0.72644222, 0.27355778],
       [0.33574441, 0.66425559],
       [0.51207128, 0.48792872],
       [0.39372021, 0.60627979],
       [0.78322272, 0.21677728],
       [0.27544412, 0.72455588],
       [0.49080718, 0.50919282],
       [0.71739848, 0.28260152],
       [0.78493627, 0.21506373],
       [0.51814948, 0.48185052],
       [0.38650299, 0.61349701],
       [0.77943826, 0.22056174],
       [0.58211421, 0.41788579],
       [0.78431787, 0.21568213],
       [0.52427283, 0.47572717],
       [0.74836305, 0.25163695],
       [0.66023625, 0.33976375],
       [0.78307058, 0.21692942],
       [0.77694334, 0.22305666],
       [0.76131246, 0.23868754],
       [0.77134572, 0.22865428],
       [0.7020788 , 0.2979212 ],
       [0.5978803 , 0.4021197 ],
       [0.78296419, 0.21703581],
       [0.71374314, 0.28625686],
       [0.20050655, 0.79949345],
       [0.70810363, 0.29189637],
       [0.78307058, 0.21692942],
       [0.84925957, 0.15074043],
       [0.8255165 , 0.1744835 ],
       [0.57677644, 0.42322356],
       [0.78335466, 0.21664534],
       [0.71902036, 0.28097964],
       [0.65939343, 0.34060657],
       [0.75471528, 0.24528472],
       [0.38625381, 0.61374619],
       [0.78016858, 0.21983142],
       [0.33921785, 0.66078215],
       [0.35672306, 0.64327694],
       [0.78336565, 0.21663435],
       [0.53985506, 0.46014494],
       [0.69023785, 0.30976215],
       [0.37279254, 0.62720746],
       [0.64551009, 0.35448991],
       [0.26097082, 0.73902918],
       [0.78271094, 0.21728906],
       [0.46135039, 0.53864961],
       [0.81663078, 0.18336922],
       [0.92894383, 0.07105617],
       [0.49755922, 0.50244078],
       [0.51929419, 0.48070581],
       [0.82909009, 0.17090991],
       [0.28114386, 0.71885614],
       [0.24847325, 0.75152675],
       [0.73311416, 0.26688584],
       [0.60652131, 0.39347869],
       [0.77470036, 0.22529964],
       [0.53017993, 0.46982007],
       [0.74315604, 0.25684396],
       [0.59169522, 0.40830478],
       [0.77472677, 0.22527323],
       [0.78309989, 0.21690011],
       [0.7833638 , 0.2166362 ],
       [0.61832198, 0.38167802],
       [0.59116761, 0.40883239],
       [0.26390925, 0.73609075],
       [0.76438629, 0.23561371],
       [0.30800266, 0.69199734],
       [0.33176506, 0.66823494],
       [0.32499591, 0.67500409],
       [0.60215773, 0.39784227],
       [0.80356255, 0.19643745],
       [0.16864452, 0.83135548],
       [0.79431929, 0.20568071],
       [0.74315604, 0.25684396],
       [0.78300271, 0.21699729],
       [0.77943826, 0.22056174],
       [0.46760427, 0.53239573],
       [0.66499497, 0.33500503],
       [0.60215773, 0.39784227],
       [0.77468155, 0.22531845],
       [0.79428932, 0.20571068],
       [0.87014048, 0.12985952],
       [0.7752382 , 0.2247618 ],
       [0.78950566, 0.21049434]])

In [59]:
logit.score(X_train, y_train)

0.6847389558232931

In [60]:
print(confusion_matrix(y_train, y_pred))

[[247  60]
 [ 97  94]]

In [61]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.72      0.80      0.76       307
           1       0.61      0.49      0.54       191

    accuracy                           0.68       498
   macro avg       0.66      0.65      0.65       498
weighted avg       0.68      0.68      0.68       498

68% Accuracy

In [86]:
titanic3 = get_titanic_data()

In [87]:
titanic3.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

##This time keep sex as a feature

In [88]:
titanic3 = titanic3.drop(columns=['sibsp', 'parch', 'embarked','class', 'deck','embark_town', 'alone', 'deck'])

In [89]:
titanic3.head()

   passenger_id  survived  pclass     sex   age     fare
0             0         0       3    male  22.0   7.2500
1             1         1       1  female  38.0  71.2833
2             2         1       3  female  26.0   7.9250
3             3         1       1  female  35.0  53.1000
4             4         0       3    male  35.0   8.0500

In [90]:
titanic3 = titanic3.drop(columns='passenger_id')

In [91]:
titanic3_dummies = pd.get_dummies(titanic3.sex, drop_first=True)

In [92]:
titanic3 = pd.concat([titanic3, titanic3_dummies], axis=1)

In [93]:
titanic3.head()

   survived  pclass     sex   age     fare  male
0         0       3    male  22.0   7.2500     1
1         1       1  female  38.0  71.2833     0
2         1       3  female  26.0   7.9250     0
3         1       1  female  35.0  53.1000     0
4         0       3    male  35.0   8.0500     1

In [94]:
titanic3 = titanic3.drop(columns='sex')

In [95]:
train, validate, test = titanic_split(titanic3)

In [96]:
train.shape

(498, 5)

In [97]:
impute_mean_age(train, validate, test)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(     survived  pclass        age      fare  male
 583         0       1  36.000000   40.1250     1
 165         1       3   9.000000   20.5250     1
 50          0       3   7.000000   39.6875     1
 259         1       2  50.000000   26.0000     0
 306         1       1  29.678105  110.8833     0
 ..        ...     ...        ...       ...   ...
 313         0       3  28.000000    7.8958     1
 636         0       3  32.000000    7.9250     1
 222         0       3  51.000000    8.0500     1
 485         0       3  29.678105   25.4667     0
 744         1       3  31.000000    7.9250     1

 [498 rows x 5 columns],
      survived  pclass        age      fare  male
 610         0       3  39.000000   31.2750     0
 424         0       3  18.000000   20.2125     1
 568         0       3  29.678105    7.2292     1
 334         1       1  29.678105  133.6500     0
 101         0       3  29.678105    7.8958     1
 ..        ...     ...        ...       ...   ...
 176         0       3  29.678105   25.4667     1
 372         0       3  19.000000    8.0500     1
 737         1       1  35.000000  512.3292     1
 862         1       1  48.000000   25.9292     0
 26          0       3  29.678105    7.2250     1

 [214 rows x 5 columns],
      survived  pclass        age      fare  male
 561         0       3  40.000000    7.8958     1
 641         1       1  24.000000   69.3000     0
 400         1       3  39.000000    7.9250     1
 498         0       1  25.000000  151.5500     0
 875         1       3  15.000000    7.2250     0
 ..        ...     ...        ...       ...   ...
 339         0       1  45.000000   35.5000     1
 841         0       2  16.000000   10.5000     1
 442         0       3  25.000000    7.7750     1
 815         0       1  29.678105    0.0000     1
 53          1       2  29.000000   26.0000     0

 [179 rows x 5 columns])

In [98]:
train.survived.value_counts(normalize=True)

0    0.616466
1    0.383534
Name: survived, dtype: float64

In [99]:
train.head()

     survived  pclass        age      fare  male
583         0       1  36.000000   40.1250     1
165         1       3   9.000000   20.5250     1
50          0       3   7.000000   39.6875     1
259         1       2  50.000000   26.0000     0
306         1       1  29.678105  110.8833     0

In [100]:
logit = LogisticRegression()

In [101]:
X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [102]:
logit = logit.fit(X_train, y_train)

In [103]:
print(logit.coef_)

[[-1.21051288e+00 -2.97225157e-02 -2.02959641e-03 -2.71607026e+00]]

In [104]:
y_pred = logit.predict(X_train)
y_pred_proba = logit.predict_proba(X_train)

In [105]:
y_pred_proba

array([[0.55886457, 0.44113543],
       [0.86000036, 0.13999964],
       [0.85750744, 0.14249256],
       [0.29285566, 0.70714434],
       [0.07420599, 0.92579401],
       [0.774868  , 0.225132  ],
       [0.83575346, 0.16424654],
       [0.75935768, 0.24064232],
       [0.91712955, 0.08287045],
       [0.45346729, 0.54653271],
       [0.51242469, 0.48757531],
       [0.71551944, 0.28448056],
       [0.23825869, 0.76174131],
       [0.62136008, 0.37863992],
       [0.83184567, 0.16815433],
       [0.9458325 , 0.0541675 ],
       [0.91717581, 0.08282419],
       [0.42266621, 0.57733379],
       [0.79126547, 0.20873453],
       [0.38917297, 0.61082703],
       [0.40496169, 0.59503831],
       [0.91713341, 0.08286659],
       [0.04834486, 0.95165514],
       [0.0551017 , 0.9448983 ],
       [0.61692251, 0.38307749],
       [0.900767  , 0.099233  ],
       [0.12528539, 0.87471461],
       [0.11040975, 0.88959025],
       [0.50495793, 0.49504207],
       [0.75482481, 0.24517519],
       [0.89793512, 0.10206488],
       [0.90709054, 0.09290946],
       [0.8980784 , 0.1019216 ],
       [0.92903219, 0.07096781],
       [0.1732817 , 0.8267183 ],
       [0.7071658 , 0.2928342 ],
       [0.8661775 , 0.1338225 ],
       [0.10348246, 0.89651754],
       [0.89288609, 0.10711391],
       [0.15855022, 0.84144978],
       [0.90580905, 0.09419095],
       [0.88348729, 0.11651271],
       [0.29469958, 0.70530042],
       [0.17660659, 0.82339341],
       [0.50753257, 0.49246743],
       [0.90858673, 0.09141327],
       [0.91712955, 0.08287045],
       [0.88675186, 0.11324814],
       [0.42260222, 0.57739778],
       [0.90765415, 0.09234585],
       [0.92445951, 0.07554049],
       [0.73116643, 0.26883357],
       [0.09028766, 0.90971234],
       [0.05640447, 0.94359553],
       [0.8953064 , 0.1046936 ],
       [0.26459165, 0.73540835],
       [0.90324239, 0.09675761],
       [0.20044748, 0.79955252],
       [0.66419382, 0.33580618],
       [0.89249889, 0.10750111],
       [0.75455808, 0.24544192],
       [0.76453904, 0.23546096],
       [0.91715204, 0.08284796],
       [0.85913578, 0.14086422],
       [0.92007092, 0.07992908],
       [0.91712955, 0.08287045],
       [0.89237712, 0.10762288],
       [0.95085265, 0.04914735],
       [0.91948935, 0.08051065],
       [0.28638354, 0.71361646],
       [0.83544091, 0.16455909],
       [0.91715204, 0.08284796],
       [0.19963552, 0.80036448],
       [0.47970626, 0.52029374],
       [0.91712955, 0.08287045],
       [0.50827522, 0.49172478],
       [0.88957302, 0.11042698],
       [0.74365779, 0.25634221],
       [0.88663971, 0.11336029],
       [0.84010431, 0.15989569],
       [0.80970933, 0.19029067],
       [0.0699075 , 0.9300925 ],
       [0.9264256 , 0.0735744 ],
       [0.76028364, 0.23971636],
       [0.88664905, 0.11335095],
       [0.93857191, 0.06142809],
       [0.07412398, 0.92587602],
       [0.25992749, 0.74007251],
       [0.23910024, 0.76089976],
       [0.74365779, 0.25634221],
       [0.93420609, 0.06579391],
       [0.91712955, 0.08287045],
       [0.40561804, 0.59438196],
       [0.06479833, 0.93520167],
       [0.77094948, 0.22905052],
       [0.91709869, 0.08290131],
       [0.10532975, 0.89467025],
       [0.70459837, 0.29540163],
       [0.51189453, 0.48810547],
       [0.07152858, 0.92847142],
       [0.8938001 , 0.1061999 ],
       [0.5785624 , 0.4214376 ],
       [0.31674877, 0.68325123],
       [0.88380812, 0.11619188],
       [0.03682945, 0.96317055],
       [0.0729422 , 0.9270578 ],
       [0.88609511, 0.11390489],
       [0.58863966, 0.41136034],
       [0.91705239, 0.08294761],
       [0.88962202, 0.11037798],
       [0.54456845, 0.45543155],
       [0.59551353, 0.40448647],
       [0.74440064, 0.25559936],
       [0.91197382, 0.08802618],
       [0.47732917, 0.52267083],
       [0.19991308, 0.80008692],
       [0.92617729, 0.07382271],
       [0.9084574 , 0.0915426 ],
       [0.16795076, 0.83204924],
       [0.09836574, 0.90163426],
       [0.55390222, 0.44609778],
       [0.93759644, 0.06240356],
       [0.57814215, 0.42185785],
       [0.5711417 , 0.4288583 ],
       [0.60767677, 0.39232323],
       [0.1605232 , 0.8394768 ],
       [0.1656882 , 0.8343118 ],
       [0.68277601, 0.31722399],
       [0.43268228, 0.56731772],
       [0.25388543, 0.74611457],
       [0.42266621, 0.57733379],
       [0.89533098, 0.10466902],
       [0.29339353, 0.70660647],
       [0.14149199, 0.85850801],
       [0.79393453, 0.20606547],
       [0.89795837, 0.10204163],
       [0.89529451, 0.10470549],
       [0.91717581, 0.08282419],
       [0.80740896, 0.19259104],
       [0.67382369, 0.32617631],
       [0.19065259, 0.80934741],
       [0.62855662, 0.37144338],
       [0.52722086, 0.47277914],
       [0.92006719, 0.07993281],
       [0.59976758, 0.40023242],
       [0.49280634, 0.50719366],
       [0.08652432, 0.91347568],
       [0.32011609, 0.67988391],
       [0.14212829, 0.85787171],
       [0.05332237, 0.94667763],
       [0.76453904, 0.23546096],
       [0.18673513, 0.81326487],
       [0.09390076, 0.90609924],
       [0.89281895, 0.10718105],
       [0.41375089, 0.58624911],
       [0.91633659, 0.08366341],
       [0.93030325, 0.06969675],
       [0.89276553, 0.10723447],
       [0.42644494, 0.57355506],
       [0.94572061, 0.05427939],
       [0.78514066, 0.21485934],
       [0.17338349, 0.82661651],
       [0.81870045, 0.18129955],
       [0.34164877, 0.65835123],
       [0.92621031, 0.07378969],
       [0.92446069, 0.07553931],
       [0.8663221 , 0.1336779 ],
       [0.908456  , 0.091544  ],
       [0.69507412, 0.30492588],
       [0.94428938, 0.05571062],
       [0.88861268, 0.11138732],
       [0.12776864, 0.87223136],
       [0.42644494, 0.57355506],
       [0.91962447, 0.08037553],
       [0.68605677, 0.31394323],
       [0.73887271, 0.26112729],
       [0.04684689, 0.95315311],
       [0.91777408, 0.08222592],
       [0.93226099, 0.06773901],
       [0.65810059, 0.34189941],
       [0.90367609, 0.09632391],
       [0.91715204, 0.08284796],
       [0.89810705, 0.10189295],
       [0.09925785, 0.90074215],
       [0.88962202, 0.11037798],
       [0.42259603, 0.57740397],
       [0.7596748 , 0.2403252 ],
       [0.15346272, 0.84653728],
       [0.34046284, 0.65953716],
       [0.39622698, 0.60377302],
       [0.7699933 , 0.2300067 ],
       [0.10646768, 0.89353232],
       [0.91789971, 0.08210029],
       [0.73216262, 0.26783738],
       [0.10615847, 0.89384153],
       [0.32769083, 0.67230917],
       [0.73156519, 0.26843481],
       [0.90593452, 0.09406548],
       [0.89530245, 0.10469755],
       [0.91353994, 0.08646006],
       [0.92617729, 0.07382271],
       [0.16440661, 0.83559339],
       [0.16663317, 0.83336683],
       [0.4918045 , 0.5081955 ],
       [0.92612491, 0.07387509],
       [0.92842603, 0.07157397],
       [0.71973211, 0.28026789],
       [0.69993438, 0.30006562],
       [0.91717581, 0.08282419],
       [0.16940985, 0.83059015],
       [0.37513845, 0.62486155],
       [0.91715204, 0.08284796],
       [0.91704918, 0.08295082],
       [0.38593593, 0.61406407],
       [0.08785748, 0.91214252],
       [0.55197993, 0.44802007],
       [0.88664481, 0.11335519],
       [0.92222597, 0.07777403],
       [0.24613464, 0.75386536],
       [0.92829104, 0.07170896],
       [0.42631875, 0.57368125],
       [0.91717581, 0.08282419],
       [0.9222472 , 0.0777528 ],
       [0.07766097, 0.92233903],
       [0.9272116 , 0.0727884 ],
       [0.94114719, 0.05885281],
       [0.52054623, 0.47945377],
       [0.91074758, 0.08925242],
       [0.88089934, 0.11910066],
       [0.92434519, 0.07565481],
       [0.78606653, 0.21393347],
       [0.89805982, 0.10194018],
       [0.88962202, 0.11037798],
       [0.91574585, 0.08425415],
       [0.91353994, 0.08646006],
       [0.26315   , 0.73685   ],
       [0.38634486, 0.61365514],
       [0.91715204, 0.08284796],
       [0.7609938 , 0.2390062 ],
       [0.29197546, 0.70802454],
       [0.91789971, 0.08210029],
       [0.4227508 , 0.5772492 ],
       [0.14492576, 0.85507424],
       [0.77615576, 0.22384424],
       [0.04718488, 0.95281512],
       [0.94650415, 0.05349585],
       [0.09087421, 0.90912579],
       [0.91704853, 0.08295147],
       [0.91718545, 0.08281455],
       [0.16079689, 0.83920311],
       [0.92231509, 0.07768491],
       [0.79558981, 0.20441019],
       [0.90470855, 0.09529145],
       [0.5723643 , 0.4276357 ],
       [0.94514267, 0.05485733],
       [0.42985296, 0.57014704],
       [0.4225424 , 0.5774576 ],
       [0.06697117, 0.93302883],
       [0.07729626, 0.92270374],
       [0.43859111, 0.56140889],
       [0.80091378, 0.19908622],
       [0.90584368, 0.09415632],
       [0.42260222, 0.57739778],
       [0.16212925, 0.83787075],
       [0.94428938, 0.05571062],
       [0.801535  , 0.198465  ],
       [0.52229405, 0.47770595],
       [0.89251267, 0.10748733],
       [0.91706204, 0.08293796],
       [0.42428419, 0.57571581],
       [0.91951939, 0.08048061],
       [0.5746417 , 0.4253583 ],
       [0.93411038, 0.06588962],
       [0.09563133, 0.90436867],
       [0.45346729, 0.54653271],
       [0.91328712, 0.08671288],
       [0.89800872, 0.10199128],
       [0.91717581, 0.08282419],
       [0.91717581, 0.08282419],
       [0.89535475, 0.10464525],
       [0.89535475, 0.10464525],
       [0.05858134, 0.94141866],
       [0.36122871, 0.63877129],
       [0.42260222, 0.57739778],
       [0.91816484, 0.08183516],
       [0.50586901, 0.49413099],
       [0.13080535, 0.86919465],
       [0.66654076, 0.33345924],
       [0.54577615, 0.45422385],
       [0.91089938, 0.08910062],
       [0.88967432, 0.11032568],
       [0.87581749, 0.12418251],
       [0.91717581, 0.08282419],
       [0.93035587, 0.06964413],
       [0.46658548, 0.53341452],
       [0.50981517, 0.49018483],
       [0.70139837, 0.29860163],
       [0.880839  , 0.119161  ],
       [0.34542988, 0.65457012],
       [0.72387774, 0.27612226],
       [0.91102559, 0.08897441],
       [0.90580905, 0.09419095],
       [0.94252931, 0.05747069],
       [0.42260222, 0.57739778],
       [0.90341962, 0.09658038],
       [0.6907128 , 0.3092872 ],
       [0.12359296, 0.87640704],
       [0.91715204, 0.08284796],
       [0.70203559, 0.29796441],
       [0.34398268, 0.65601732],
       [0.73795085, 0.26204915],
       [0.93246327, 0.06753673],
       [0.97384724, 0.02615276],
       [0.42259395, 0.57740605],
       [0.25218047, 0.74781953],
       [0.42592586, 0.57407414],
       [0.91715204, 0.08284796],
       [0.06678062, 0.93321938],
       [0.58344344, 0.41655656],
       [0.92840523, 0.07159477],
       [0.43139979, 0.56860021],
       [0.9173991 , 0.0826009 ],
       [0.04413191, 0.95586809],
       [0.50737825, 0.49262175],
       [0.8979545 , 0.1020455 ],
       [0.64961035, 0.35038965],
       [0.5108344 , 0.4891656 ],
       [0.78575251, 0.21424749],
       [0.53732008, 0.46267992],
       [0.24127174, 0.75872826],
       [0.95424898, 0.04575102],
       [0.60416323, 0.39583677],
       [0.42260222, 0.57739778],
       [0.50325596, 0.49674404],
       [0.60828682, 0.39171318],
       [0.42266621, 0.57733379],
       [0.84312272, 0.15687728],
       [0.31626152, 0.68373848],
       [0.73696846, 0.26303154],
       [0.91558478, 0.08441522],
       [0.77005225, 0.22994775],
       [0.15331413, 0.84668587],
       [0.36811485, 0.63188515],
       [0.49734709, 0.50265291],
       [0.55343584, 0.44656416],
       [0.42234432, 0.57765568],
       [0.50586901, 0.49413099],
       [0.51716697, 0.48283303],
       [0.71807551, 0.28192449],
       [0.72746303, 0.27253697],
       [0.05308166, 0.94691834],
       [0.7800126 , 0.2199874 ],
       [0.90458114, 0.09541886],
       [0.24080603, 0.75919397],
       [0.24005183, 0.75994817],
       [0.06308296, 0.93691704],
       [0.13387793, 0.86612207],
       [0.83318241, 0.16681759],
       [0.4259279 , 0.5740721 ],
       [0.59879484, 0.40120516],
       [0.41055255, 0.58944745],
       [0.45092717, 0.54907283],
       [0.20791479, 0.79208521],
       [0.87725008, 0.12274992],
       [0.91712569, 0.08287431],
       [0.46036719, 0.53963281],
       [0.79126547, 0.20873453],
       [0.92931034, 0.07068966],
       [0.83836699, 0.16163301],
       [0.4897993 , 0.5102007 ],
       [0.73216262, 0.26783738],
       [0.90592876, 0.09407124],
       [0.36118188, 0.63881812],
       [0.76760328, 0.23239672],
       [0.34080282, 0.65919718],
       [0.34093013, 0.65906987],
       [0.15513449, 0.84486551],
       [0.17145919, 0.82854081],
       [0.11509488, 0.88490512],
       [0.49580564, 0.50419436],
       [0.58539565, 0.41460435],
       [0.13481263, 0.86518737],
       [0.28638354, 0.71361646],
       [0.8953072 , 0.1046928 ],
       [0.64026245, 0.35973755],
       [0.42262079, 0.57737921],
       [0.91704918, 0.08295082],
       [0.37496006, 0.62503994],
       [0.64004547, 0.35995453],
       [0.74832827, 0.25167173],
       [0.9143463 , 0.0856537 ],
       [0.7692556 , 0.2307444 ],
       [0.74865512, 0.25134488],
       [0.15699948, 0.84300052],
       [0.67312561, 0.32687439],
       [0.3891006 , 0.6108994 ],
       [0.0977564 , 0.9022436 ],
       [0.93400465, 0.06599535],
       [0.90196794, 0.09803206],
       [0.34560846, 0.65439154],
       [0.89234218, 0.10765782],
       [0.13115188, 0.86884812],
       [0.91455248, 0.08544752],
       [0.64383329, 0.35616671],
       [0.79530731, 0.20469269],
       [0.91812122, 0.08187878],
       [0.76046854, 0.23953146],
       [0.90845038, 0.09154962],
       [0.74440064, 0.25559936],
       [0.40023754, 0.59976246],
       [0.74477876, 0.25522124],
       [0.9169919 , 0.0830081 ],
       [0.93135573, 0.06864427],
       [0.88939346, 0.11060654],
       [0.07122586, 0.92877414],
       [0.18206933, 0.81793067],
       [0.07690679, 0.92309321],
       [0.42250317, 0.57749683],
       [0.04697644, 0.95302356],
       [0.63439398, 0.36560602],
       [0.82109682, 0.17890318],
       [0.91777727, 0.08222273],
       [0.76453904, 0.23546096],
       [0.11978366, 0.88021634],
       [0.91840851, 0.08159149],
       [0.23154932, 0.76845068],
       [0.42539113, 0.57460887],
       [0.20048178, 0.79951822],
       [0.90075946, 0.09924054],
       [0.28669464, 0.71330536],
       [0.91715204, 0.08284796],
       [0.91925302, 0.08074698],
       [0.90955837, 0.09044163],
       [0.91663699, 0.08336301],
       [0.32130007, 0.67869993],
       [0.82783356, 0.17216644],
       [0.42279414, 0.57720586],
       [0.88380812, 0.11619188],
       [0.0776814 , 0.9223186 ],
       [0.88059023, 0.11940977],
       [0.91715204, 0.08284796],
       [0.53576512, 0.46423488],
       [0.93591987, 0.06408013],
       [0.81475118, 0.18524882],
       [0.91705239, 0.08294761],
       [0.34187327, 0.65812673],
       [0.86529506, 0.13470494],
       [0.92617729, 0.07382271],
       [0.52451291, 0.47548709],
       [0.91815848, 0.08184152],
       [0.49884666, 0.50115334],
       [0.06762582, 0.93237418],
       [0.91704853, 0.08295147],
       [0.80038104, 0.19961896],
       [0.30813085, 0.69186915],
       [0.50527502, 0.49472498],
       [0.85851677, 0.14148323],
       [0.60563461, 0.39436539],
       [0.9172779 , 0.0827221 ],
       [0.73216262, 0.26783738],
       [0.93870406, 0.06129594],
       [0.97637126, 0.02362874],
       [0.17338349, 0.82661651],
       [0.73864071, 0.26135929],
       [0.49954842, 0.50045158],
       [0.06195191, 0.93804809],
       [0.45399009, 0.54600991],
       [0.8968757 , 0.1031243 ],
       [0.82286818, 0.17713182],
       [0.91327574, 0.08672426],
       [0.19339744, 0.80660256],
       [0.89795837, 0.10204163],
       [0.72435585, 0.27564415],
       [0.91326635, 0.08673365],
       [0.91714177, 0.08285823],
       [0.91704918, 0.08295082],
       [0.25816317, 0.74183683],
       [0.83429874, 0.16570126],
       [0.50357077, 0.49642923],
       [0.9084574 , 0.0915426 ],
       [0.47435173, 0.52564827],
       [0.10200538, 0.89799462],
       [0.48517792, 0.51482208],
       [0.2407524 , 0.7592476 ],
       [0.9264256 , 0.0735744 ],
       [0.76762327, 0.23237673],
       [0.92224114, 0.07775886],
       [0.36787884, 0.63212116],
       [0.91717581, 0.08282419],
       [0.42674281, 0.57325719],
       [0.15740282, 0.84259718],
       [0.86629509, 0.13370491],
       [0.2407524 , 0.7592476 ],
       [0.91328243, 0.08671757],
       [0.92225145, 0.07774855],
       [0.95427556, 0.04572444],
       [0.43139979, 0.56860021],
       [0.9200933 , 0.0799067 ]])

In [106]:
logit.score(X_train, y_train)

0.8132530120481928

In [107]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.87      0.85       307
           1       0.77      0.73      0.75       191

    accuracy                           0.81       498
   macro avg       0.80      0.80      0.80       498
weighted avg       0.81      0.81      0.81       498

In [108]:
titanic = get_titanic_data()

In [109]:
titanic.survived.value_counts()

0    549
1    342
Name: survived, dtype: int64

In [116]:
total = 342 + 549

In [117]:
549/total

0.6161616161616161

Baseline is 61.6%

In [147]:
titanic_4 = get_titanic_data()

In [148]:
titanic_4.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [150]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np

from pydataset import data

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [149]:
train.head()

,fare,fare,sex_female,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
583,40.1250,40.1250,0,1,1,0,0,1,0,0
165,20.5250,20.5250,0,1,0,0,1,0,0,1
50,39.6875,39.6875,0,1,0,0,1,0,0,1
259,26.0000,26.0000,1,0,0,1,0,0,0,1
306,110.8833,110.8833,1,0,1,0,0,1,0,0

In [151]:
X_train.head()

,fare,fare,sex_female,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
583,40.1250,40.1250,0,1,1,0,0,1,0,0
165,20.5250,20.5250,0,1,0,0,1,0,0,1
50,39.6875,39.6875,0,1,0,0,1,0,0,1
259,26.0000,26.0000,1,0,0,1,0,0,0,1
306,110.8833,110.8833,1,0,1,0,0,1,0,0

In [152]:
clf = DecisionTreeClassifier(max_depth=3, random_state=123)

In [153]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=123, splitter='best')

In [154]:
y_pred = clf.predict(X_train)
y_pred[0:5]

array([[0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 1]])

In [155]:
y_pred_proba = clf.predict_proba(X_train)
y_pred_proba

[array([[0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.39130435, 0.60869565],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.07142857, 0.92857143],
        [0.8630137 , 0.1369863 ],
        [0.07142857, 0.92857143],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.01923077, 0.98076923],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.01923077, 0.98076923],
        [0.39130435, 0.60869565],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.01923077, 0.98076923],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.8630137 , 0.1369863 ],
        [0.01923077, 0.98076923],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.        , 1.        ],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.39130435, 0.60869565],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.07142857, 0.92857143],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.39130435, 0.60869565],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.01923077, 0.98076923],
        [0.07142857, 0.92857143],
        [0.01923077, 0.98076923],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.07142857, 0.92857143],
        [0.8630137 , 0.1369863 ],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.01923077, 0.98076923],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.01923077, 0.98076923],
        [0.39130435, 0.60869565],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.01923077, 0.98076923],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.01923077, 0.98076923],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.07142857, 0.92857143],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.07142857, 0.92857143],
        [0.8630137 , 0.1369863 ],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.07142857, 0.92857143],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.39130435, 0.60869565],
        [0.39130435, 0.60869565],
        [0.01923077, 0.98076923],
        [0.01923077, 0.98076923],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.39130435, 0.60869565],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.91666667, 0.08333333],
        [0.        , 1.        ],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.07142857, 0.92857143],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.01923077, 0.98076923],
        [0.01923077, 0.98076923],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.39130435, 0.60869565],
        [0.07142857, 0.92857143],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.39130435, 0.60869565],
        [0.01923077, 0.98076923],
        [0.07142857, 0.92857143],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.07142857, 0.92857143],
        [0.07142857, 0.92857143],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.07142857, 0.92857143],
        [0.01923077, 0.98076923],
        [0.39130435, 0.60869565],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.8630137 , 0.1369863 ],
        [0.07142857, 0.92857143],
        [0.39130435, 0.60869565],
        [0.07142857, 0.92857143],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.07142857, 0.92857143],
        [0.8630137 , 0.1369863 ],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333]]),
 array([[0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.39130435, 0.60869565],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.01923077, 0.98076923],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.01923077, 0.98076923],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.07142857, 0.92857143],
        [0.8630137 , 0.1369863 ],
        [0.07142857, 0.92857143],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.8630137 , 0.1369863 ],
        [0.01923077, 0.98076923],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.39130435, 0.60869565],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.07142857, 0.92857143],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.69827586, 0.30172414],
        [0.69827586, 0.30172414],
        [0.01923077, 0.98076923],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.91666667, 0.08333333],
        [0.8630137 , 0.1369863 ],
        [0.01923077, 0.98076923],
        [0.39130435, 0.60869565],
        [0.39130435, 0.60869565],
        [0.8630137 , 0.1369863 ],

In [156]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.82

In [157]:
confusion_matrix(y_train, y_pred)

ValueError: multilabel-indicator is not supported

In [159]:
y_train

     survived  survived
583         0         0
165         1         1
50          0         0
259         1         1
306         1         1
..        ...       ...
313         0         0
636         0         0
222         0         0
485         0         0
744         1         1

[498 rows x 2 columns]

In [237]:
## Pulling in my data again and cleaning it up before I start the decision tree model

In [160]:
titanic = get_titanic_data()

In [161]:
titanic = titanic.drop(columns=['sex', 'sibsp', 'parch', 'embarked','class', 'deck','embark_town', 'alone'])

In [162]:
titanic = titanic.drop(columns='passenger_id')

In [163]:
titanic_dummies = pd.get_dummies(titanic.pclass, drop_first=True)

In [166]:
titanic = pd.concat([titanic, titanic_dummies], axis=1)

In [167]:
train, validate, test = titanic_split(titanic)

In [168]:
impute_mean_age(train, validate, test)

(     survived  pclass        age      fare  2  3
 583         0       1  36.000000   40.1250  0  0
 165         1       3   9.000000   20.5250  0  1
 50          0       3   7.000000   39.6875  0  1
 259         1       2  50.000000   26.0000  1  0
 306         1       1  29.678105  110.8833  0  0
 ..        ...     ...        ...       ... .. ..
 313         0       3  28.000000    7.8958  0  1
 636         0       3  32.000000    7.9250  0  1
 222         0       3  51.000000    8.0500  0  1
 485         0       3  29.678105   25.4667  0  1
 744         1       3  31.000000    7.9250  0  1

 [498 rows x 6 columns],
      survived  pclass        age      fare  2  3
 610         0       3  39.000000   31.2750  0  1
 424         0       3  18.000000   20.2125  0  1
 568         0       3  29.678105    7.2292  0  1
 334         1       1  29.678105  133.6500  0  0
 101         0       3  29.678105    7.8958  0  1
 ..        ...     ...        ...       ... .. ..
 176         0       3  29.678105   25.4667  0  1
 372         0       3  19.000000    8.0500  0  1
 737         1       1  35.000000  512.3292  0  0
 862         1       1  48.000000   25.9292  0  0
 26          0       3  29.678105    7.2250  0  1

 [214 rows x 6 columns],
      survived  pclass        age      fare  2  3
 561         0       3  40.000000    7.8958  0  1
 641         1       1  24.000000   69.3000  0  0
 400         1       3  39.000000    7.9250  0  1
 498         0       1  25.000000  151.5500  0  0
 875         1       3  15.000000    7.2250  0  1
 ..        ...     ...        ...       ... .. ..
 339         0       1  45.000000   35.5000  0  0
 841         0       2  16.000000   10.5000  1  0
 442         0       3  25.000000    7.7750  0  1
 815         0       1  29.678105    0.0000  0  0
 53          1       2  29.000000   26.0000  1  0

 [179 rows x 6 columns])

In [169]:
logit = LogisticRegression()

In [190]:
X_train = train.drop(columns=['survived'])
y_train = train[['survived']]

X_validate = validate.drop(columns=['survived'])
y_validate = validate[['survived']]

X_test = test.drop(columns=['survived'])
y_test = test[['survived']]

In [191]:
logit = logit.fit(X_train, y_train)

In [192]:
print(logit.coef_)

[[-0.67260505 -0.02902885  0.00259074  0.14850399 -0.41036784]]

In [193]:
y_pred = logit.predict(X_train)
y_pred_proba = logit.predict_proba(X_train)

In [ ]:
##Creating my decision tree model

In [194]:
clf = DecisionTreeClassifier(max_depth=3, random_state=123)

In [238]:
##Fit the model

In [195]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=123, splitter='best')

In [239]:
##Estimate Survival

In [196]:
y_pred = clf.predict(X_train)
y_pred[0:5]

array([1, 0, 0, 0, 1])

In [240]:
##Estimate Probability of Survival

In [197]:
y_pred_proba = clf.predict_proba(X_train)
y_pred_proba

array([[0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.66666667, 0.33333333],
       [0.66666667, 0.33333333],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.        , 1.        ],
       [0.66666667, 0.33333333],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.54545455, 0.45454545],
       [0.66666667, 0.33333333],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.66666667, 0.33333333],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.54545455, 0.45454545],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.66666667, 0.33333333],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.66666667, 0.33333333],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.        , 1.        ],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.92857143, 0.07142857],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.        , 1.        ],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.        , 1.        ],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.54545455, 0.45454545],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.92857143, 0.07142857],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.92857143, 0.07142857],
       [0.92857143, 0.07142857],
       [0.66666667, 0.33333333],
       [0.54545455, 0.45454545],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.        , 1.        ],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [0.74660633, 0.25339367],
       [0.54545455, 0.45454545],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.66666667, 0.33333333],
       [1.        , 0.        ],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.3255814 , 0.6744186 ],
       [0.        , 1.        ],
       [0.92857143, 0.07142857],
       [0.3255814 , 0.6744186 ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.3255814 , 0.6744186 ],
       [0.66666667, 0.33333333],
       [0.        , 1.        ],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367],
       [0.92857143, 0.07142857],
       [0.74660633, 0.25339367],
       [0.74660633, 0.25339367]])

In [241]:
##Compute the Accuracy

In [198]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.72

In [242]:
##Create a confusion matrix

In [199]:
confusion_matrix(y_train, y_pred)

array([[265,  42],
       [ 97,  94]])

In [203]:
y_train

     survived
583         0
165         1
50          0
259         1
306         1
..        ...
313         0
636         0
222         0
485         0
744         1

[498 rows x 1 columns]

In [201]:
labels = sorted(y_train.survived.unique())

In [205]:
pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

     0   1
0  265  42
1   97  94

True Positive Rate:
    
    TP / (TP + FN)

In [207]:
265 / (265 + 97)

0.7320441988950276

In [208]:
y_train.shape

(498, 1)

In [182]:
y_train.value_counts()

0    307
1    191
Name: survived, dtype: int64

In [243]:
##Create a classification report

In [183]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.73      0.86      0.79       307
           1       0.69      0.49      0.57       191

    accuracy                           0.72       498
   macro avg       0.71      0.68      0.68       498
weighted avg       0.72      0.72      0.71       498

In [245]:
#Create the decision tree object

In [209]:
clf = DecisionTreeClassifier(max_depth=6, random_state=123)

In [246]:
##Fit the model

In [210]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=123, splitter='best')

In [247]:
##Examine survival

In [211]:
y_pred = clf.predict(X_train)
y_pred[0:5]

array([1, 0, 0, 1, 1])

In [248]:
#Estimate probability of survival

In [212]:
y_pred_proba = clf.predict_proba(X_train)

In [249]:
#Compute the accuracy

In [213]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.79

In [250]:
#Create a confusion matrix

In [214]:
confusion_matrix(y_train, y_pred)

array([[251,  56],
       [ 49, 142]])

In [215]:
pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

     0    1
0  251   56
1   49  142

In [251]:
#Create a classification report

In [216]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.82      0.83       307
           1       0.72      0.74      0.73       191

    accuracy                           0.79       498
   macro avg       0.78      0.78      0.78       498
weighted avg       0.79      0.79      0.79       498

In [252]:
#Compute the accuracy run on the validate set

In [217]:
clf = DecisionTreeClassifier(max_depth=6, random_state=123)

In [218]:
clf.fit(X_validate, y_validate)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=123, splitter='best')

In [219]:
y_pred = clf.predict(X_validate)
y_pred[0:5]

array([0, 0, 0, 1, 0])

In [220]:
y_pred_proba = clf.predict_proba(X_validate)

In [228]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_validate, y_validate)))

Accuracy of Decision Tree classifier on training set: 0.64

In [255]:
####When I raised the max-depth, it lowered the accuracy of the validate set.

In [225]:
clf.fit(X_test, y_test)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=123, splitter='best')

In [226]:
y_pred = clf.predict(X_test)
y_pred[0:5]

array([0, 1, 1, 0, 1])

In [227]:
y_pred_proba = clf.predict_proba(X_test)

In [229]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_test, y_test)))

Accuracy of Decision Tree classifier on training set: 0.85

In [256]:
###The test set on the higher max-depth is higher than the train or validate

In [230]:
clf = DecisionTreeClassifier(max_depth=2, random_state=123)

In [231]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=2, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=123, splitter='best')

In [232]:
y_pred = clf.predict(X_train)
y_pred[0:5]

array([1, 0, 0, 1, 1])

In [233]:
y_pred_proba = clf.predict_proba(X_train)

In [234]:
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.71

In [235]:
pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=labels)

     0    1
0  240   67
1   79  112

In [236]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.75      0.78      0.77       307
           1       0.63      0.59      0.61       191

    accuracy                           0.71       498
   macro avg       0.69      0.68      0.69       498
weighted avg       0.70      0.71      0.70       498