In [10]:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression

In [6]:
import os

In [7]:
def new_titanic_data():
    sql_query = 'SELECT * FROM passengers'
    df = pd.read_sql(sql_query, get_connection('titanic_db'))
    df.to_csv('titanic_df.csv')
    return df

In [8]:
def get_titanic_data(cached=False):
    if cached or os.path.isfile('titanic_df.csv') == False:
        df = new_titanic_data()
    else:
        df = pd.read_csv('titanic_df.csv', index_col=0)
    return df

In [20]:
titanic = get_titanic_data()

In [21]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [18]:
def titanic_split(df):

    train_validate, test = train_test_split(df, test_size=.2,
                                        random_state=123,
                                        stratify=df.survived)
    train, validate = train_test_split(train_validate, test_size=.3,
                                        random_state=123,
                                        stratify=train_validate.survived)
    return train, validate, test

def impute_mean_age(train, validate, test):

    imputer = SimpleImputer(strategy = 'mean')

    train['age'] = imputer.fit_transform(train[['age']])

    validate['age'] = imputer.transform(validate[['age']])

    test['age'] = imputer.transform(test[['age']])

    return train, validate, test

def prep_titanic_data(cached=True):
#     df = get_titanic_data(cached)
    df = df[~df.embarked.isnull()]
    titanic_dummies = pd.get_dummies(df.embarked, drop_first=True)
    df = pd.concat([df, titanic_dummies], axis=1)
    df = df.drop(columns='deck')

    train, validate, test = titanic_split(df)

    train, validate, test = impute_mean_age(train, validate, test)

    return train, validate, test

In [22]:
titanic = prep_titanic_data(titanic)

UnboundLocalError: local variable 'df' referenced before assignment

In [23]:
 titanic = titanic[~titanic.embarked.isnull()]

In [35]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,Q,S
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0,0,1
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0,0,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1,0,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,Southampton,0,0,1
4,4,0,3,male,35.0,0,0,8.0500,S,Third,Southampton,1,0,1

In [37]:
titanic_dummies = pd.get_dummies(titanic[['sex', 'embark_town', 'class']], drop_first=True)

In [61]:
titanic_dummies = pd.get_dummies(titanic['pclass'], drop_first=True)

In [62]:
titanic = pd.concat([titanic, titanic_dummies], axis=1)

In [47]:
titanic = titanic.drop(columns=['embark_town','class'])

In [54]:
titanic = titanic.drop(columns='sex')

In [69]:
titanic = titanic.drop(columns='pclass')

In [70]:
train, validate, test = titanic_split(titanic)

In [71]:
train, validate, test = impute_mean_age(train, validate, test)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [72]:
train.shape

(497, 13)

In [73]:
validate.shape

(214, 13)

In [74]:
test.shape

(178, 13)

In [75]:
test.head()

,survived,age,sibsp,parch,fare,alone,sex_male,embark_town_Queenstown,embark_town_Southampton,class_Second,class_Third,2,3
561,0,40.000000,0,0,7.8958,1,1,0,1,0,1,0,1
328,1,31.000000,1,1,20.5250,0,0,0,1,0,1,0,1
643,1,29.916875,0,0,56.4958,1,1,0,1,0,1,0,1
498,0,25.000000,1,2,151.5500,0,0,0,1,0,0,0,0
875,1,15.000000,0,0,7.2250,1,0,0,0,0,1,0,1

In [76]:
train.survived.value_counts(normalize=True)

0    0.617706
1    0.382294
Name: survived, dtype: float64

In [77]:
logit = LogisticRegression()

In [78]:
X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [79]:
logit = logit.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [80]:
X_train.columns

Index([                    'age',                   'sibsp',
                         'parch',                    'fare',
                         'alone',                'sex_male',
        'embark_town_Queenstown', 'embark_town_Southampton',
                  'class_Second',             'class_Third',
                               2,                         3],
      dtype='object')

In [81]:
print(logit.coef_)

[[-3.00263702e-02 -5.54052471e-01 -2.42205064e-01  1.85202548e-03
  -9.80949835e-01 -2.43119347e+00  6.92273924e-01  1.02410521e-01
  -4.37990618e-01 -1.02302377e+00 -4.37990618e-01 -1.02302377e+00]]

In [82]:
y_pred = logit.predict(X_train)
y_pred_proba = logit.predict_proba(X_train)

In [83]:
y_pred_proba

array([[0.62395644, 0.37604356],
       [0.12461106, 0.87538894],
       [0.95510622, 0.04489378],
       [0.10794509, 0.89205491],
       [0.06114476, 0.93885524],
       [0.69107827, 0.30892173],
       [0.79102839, 0.20897161],
       [0.74924724, 0.25075276],
       [0.85036343, 0.14963657],
       [0.97628274, 0.02371726],
       [0.42782999, 0.57217001],
       [0.75946327, 0.24053673],
       [0.08793068, 0.91206932],
       [0.67056584, 0.32943416],
       [0.74221537, 0.25778463],
       [0.85117886, 0.14882114],
       [0.91106935, 0.08893065],
       [0.33365248, 0.66634752],
       [0.78076496, 0.21923504],
       [0.33654412, 0.66345588],
       [0.31443044, 0.68556956],
       [0.9111106 , 0.0888894 ],
       [0.13819651, 0.86180349],
       [0.24757618, 0.75242382],
       [0.66804223, 0.33195777],
       [0.89277059, 0.10722941],
       [0.10738896, 0.89261104],
       [0.18492761, 0.81507239],
       [0.56158807, 0.43841193],
       [0.74268006, 0.25731994],
       [0.89000187, 0.10999813],
       [0.90340148, 0.09659852],
       [0.88986204, 0.11013796],
       [0.90884291, 0.09115709],
       [0.16238058, 0.83761942],
       [0.03818284, 0.96181716],
       [0.85943491, 0.14056509],
       [0.08861404, 0.91138596],
       [0.88346587, 0.11653413],
       [0.89574183, 0.10425817],
       [0.8985283 , 0.1014717 ],
       [0.87442116, 0.12557884],
       [0.45768186, 0.54231814],
       [0.69516196, 0.30483804],
       [0.55927264, 0.44072736],
       [0.91174849, 0.08825151],
       [0.85036343, 0.14963657],
       [0.87744761, 0.12255239],
       [0.89240042, 0.10759958],
       [0.84994524, 0.15005476],
       [0.91820602, 0.08179398],
       [0.72000164, 0.27999836],
       [0.54297364, 0.45702636],
       [0.60794904, 0.39205096],
       [0.20730918, 0.79269082],
       [0.85036343, 0.14963657],
       [0.89575769, 0.10424231],
       [0.19701712, 0.80298288],
       [0.19934239, 0.80065761],
       [0.88384508, 0.11615492],
       [0.75154816, 0.24845184],
       [0.76343494, 0.23656506],
       [0.91904624, 0.08095376],
       [0.85202237, 0.14797763],
       [0.91370955, 0.08629045],
       [0.85036343, 0.14963657],
       [0.05851219, 0.94148781],
       [0.94856678, 0.05143322],
       [0.48619118, 0.51380882],
       [0.37070488, 0.62929512],
       [0.91190259, 0.08809741],
       [0.91109248, 0.08890752],
       [0.68530901, 0.31469099],
       [0.07146253, 0.92853747],
       [0.85036343, 0.14963657],
       [0.58640809, 0.41359191],
       [0.8807665 , 0.1192335 ],
       [0.73103742, 0.26896258],
       [0.8775571 , 0.1224429 ],
       [0.3332018 , 0.6667982 ],
       [0.71284363, 0.28715637],
       [0.07636061, 0.92363939],
       [0.9205149 , 0.0794851 ],
       [0.74837636, 0.25162364],
       [0.87754799, 0.12245201],
       [0.86308684, 0.13691316],
       [0.87089427, 0.12910573],
       [0.08326801, 0.91673199],
       [0.64576315, 0.35423685],
       [0.73103742, 0.26896258],
       [0.92879564, 0.07120436],
       [0.85036343, 0.14963657],
       [0.90301244, 0.09698756],
       [0.43065512, 0.56934488],
       [0.75951535, 0.24048465],
       [0.91114435, 0.08885565],
       [0.09060761, 0.90939239],
       [0.76607205, 0.23392795],
       [0.58046772, 0.41953228],
       [0.44480628, 0.55519372],
       [0.88549103, 0.11450897],
       [0.35944074, 0.64055926],
       [0.59123026, 0.40876974],
       [0.87410815, 0.12589185],
       [0.03927975, 0.96072025],
       [0.44909768, 0.55090232],
       [0.89658584, 0.10341416],
       [0.59194282, 0.40805718],
       [0.91118932, 0.08881068],
       [0.88071869, 0.11928131],
       [0.90352669, 0.09647331],
       [0.07897047, 0.92102953],
       [0.68303167, 0.31696833],
       [0.87021165, 0.12978835],
       [0.52632606, 0.47367394],
       [0.11166968, 0.88833032],
       [0.99786839, 0.00213161],
       [0.90109387, 0.09890613],
       [0.06546594, 0.93453406],
       [0.15424831, 0.84575169],
       [0.49241808, 0.50758192],
       [0.93897242, 0.06102758],
       [0.47635465, 0.52364535],
       [0.66585625, 0.33414375],
       [0.15954277, 0.84045723],
       [0.17555233, 0.82444767],
       [0.23847405, 0.76152595],
       [0.64129285, 0.35870715],
       [0.20232491, 0.79767509],
       [0.49666071, 0.50333929],
       [0.05575711, 0.94424289],
       [0.88687917, 0.11312083],
       [0.71994075, 0.28005925],
       [0.33314864, 0.66685136],
       [0.69601993, 0.30398007],
       [0.88997921, 0.11002079],
       [0.81301845, 0.18698155],
       [0.91106935, 0.08893065],
       [0.6952076 , 0.3047924 ],
       [0.54454732, 0.45545268],
       [0.11280211, 0.88719789],
       [0.3811592 , 0.6188408 ],
       [0.55838894, 0.44161106],
       [0.85445477, 0.14554523],
       [0.91105997, 0.08894003],
       [0.18240763, 0.81759237],
       [0.55598023, 0.44401977],
       [0.3691032 , 0.6308968 ],
       [0.24757042, 0.75242958],
       [0.85229783, 0.14770217],
       [0.76343494, 0.23656506],
       [0.14651886, 0.85348114],
       [0.04851383, 0.95148617],
       [0.88353179, 0.11646821],
       [0.41133706, 0.58866294],
       [0.15294255, 0.84705745],
       [0.92487066, 0.07512934],
       [0.88358419, 0.11641581],
       [0.66804223, 0.33195777],
       [0.94167583, 0.05832417],
       [0.82345426, 0.17654574],
       [0.90388614, 0.09611386],
       [0.80157785, 0.19842215],
       [0.91603646, 0.08396354],
       [0.92072525, 0.07927475],
       [0.92557432, 0.07442568],
       [0.98016894, 0.01983106],
       [0.90109524, 0.09890476],
       [0.66942349, 0.33057651],
       [0.9398923 , 0.0601077 ],
       [0.88286684, 0.11713316],
       [0.57775088, 0.42224912],
       [0.24403016, 0.75596984],
       [0.84645731, 0.15354269],
       [0.72954036, 0.27045964],
       [0.78089049, 0.21910951],
       [0.41542312, 0.58457688],
       [0.91932335, 0.08067665],
       [0.93504071, 0.06495929],
       [0.90361429, 0.09638571],
       [0.89533324, 0.10466676],
       [0.91109248, 0.08890752],
       [0.88983405, 0.11016595],
       [0.1747998 , 0.8252002 ],
       [0.88071869, 0.11928131],
       [0.88068868, 0.11931132],
       [0.73805211, 0.26194789],
       [0.81649959, 0.18350041],
       [0.25928125, 0.74071875],
       [0.91602637, 0.08397363],
       [0.77663134, 0.22336866],
       [0.12958311, 0.87041689],
       [0.91127137, 0.08872863],
       [0.71906727, 0.28093273],
       [0.15587233, 0.84412767],
       [0.70301262, 0.29698738],
       [0.78784394, 0.21215606],
       [0.08986397, 0.91013603],
       [0.88690704, 0.11309296],
       [0.90606601, 0.09393399],
       [0.99786839, 0.00213161],
       [0.18841006, 0.81158994],
       [0.11903157, 0.88096843],
       [0.57337228, 0.42662772],
       [0.90128111, 0.09871889],
       [0.92268429, 0.07731571],
       [0.61198591, 0.38801409],
       [0.53416395, 0.46583605],
       [0.91106935, 0.08893065],
       [0.71140401, 0.28859599],
       [0.42265385, 0.57734615],
       [0.91109248, 0.08890752],
       [0.4447739 , 0.5552261 ],
       [0.903754  , 0.096246  ],
       [0.38822588, 0.61177412],
       [0.31117038, 0.68882962],
       [0.87755213, 0.12244787],
       [0.8581493 , 0.1418507 ],
       [0.10501215, 0.89498785],
       [0.9228163 , 0.0771837 ],
       [0.3747512 , 0.6252488 ],
       [0.91106935, 0.08893065],
       [0.91603053, 0.08396947],
       [0.15481499, 0.84518501],
       [0.92889075, 0.07110925],
       [0.93634107, 0.06365893],
       [0.42992693, 0.57007307],
       [0.68770737, 0.31229263],
       [0.87059203, 0.12940797],
       [0.65551729, 0.34448271],
       [0.77581563, 0.22418437],
       [0.88988019, 0.11011981],
       [0.88071869, 0.11928131],
       [0.90630319, 0.09369681],
       [0.90606601, 0.09393399],
       [0.05351068, 0.94648932],
       [0.86246345, 0.13753655],
       [0.91904624, 0.08095376],
       [0.72809397, 0.27190603],
       [0.5978142 , 0.4021858 ],
       [0.91127137, 0.08872863],
       [0.47391587, 0.52608413],
       [0.33308507, 0.66691493],
       [0.10222821, 0.89777179],
       [0.07850548, 0.92149452],
       [0.94777745, 0.05222255],
       [0.40174849, 0.59825151],
       [0.91913862, 0.08086138],
       [0.24844864, 0.75155136],
       [0.3332018 , 0.6667982 ],
       [0.91596402, 0.08403598],
       [0.69405716, 0.30594284],
       [0.89698024, 0.10301976],
       [0.36832304, 0.63167696],
       [0.88037369, 0.11962631],
       [0.77340236, 0.22659764],
       [0.33325151, 0.66674849],
       [0.5936585 , 0.4063415 ],
       [0.19613104, 0.80386896],
       [0.24124726, 0.75875274],
       [0.79087082, 0.20912918],
       [0.89849452, 0.10150548],
       [0.23850475, 0.76149525],
       [0.38669516, 0.61330484],
       [0.9398923 , 0.0601077 ],
       [0.77297465, 0.22702535],
       [0.59864843, 0.40135157],
       [0.56130306, 0.43869694],
       [0.91117995, 0.08882005],
       [0.45804539, 0.54195461],
       [0.91339048, 0.08660952],
       [0.27352959, 0.72647041],
       [0.92888949, 0.07111051],
       [0.36673778, 0.63326222],
       [0.97628274, 0.02371726],
       [0.91656705, 0.08343295],
       [0.88993009, 0.11006991],
       [0.91106935, 0.08893065],
       [0.91106935, 0.08893065],
       [0.88685595, 0.11314405],
       [0.88685595, 0.11314405],
       [0.3332018 , 0.6667982 ],
       [0.27658187, 0.72341813],
       [0.33715202, 0.66284798],
       [0.91009673, 0.08990327],
       [0.58581573, 0.41418427],
       [0.04523521, 0.95476479],
       [0.24955051, 0.75044949],
       [0.6561907 , 0.3438093 ],
       [0.90373789, 0.09626211],
       [0.88066761, 0.11933239],
       [0.86372515, 0.13627485],
       [0.91106935, 0.08893065],
       [0.92481917, 0.07518083],
       [0.2985942 , 0.7014058 ],
       [0.52045869, 0.47954131],
       [0.68836484, 0.31163516],
       [0.87065113, 0.12934887],
       [0.84283393, 0.15716607],
       [0.7629783 , 0.2370217 ],
       [0.15271263, 0.84728737],
       [0.8985283 , 0.1014717 ],
       [0.93834505, 0.06165495],
       [0.15497076, 0.84502924],
       [0.89558463, 0.10441537],
       [0.73684488, 0.26315512],
       [0.18827079, 0.81172921],
       [0.91109248, 0.08890752],
       [0.68776859, 0.31223141],
       [0.2477876 , 0.7522124 ],
       [0.7250928 , 0.2749072 ],
       [0.90845431, 0.09154569],
       [0.95054716, 0.04945284],
       [0.26114897, 0.73885103],
       [0.67567873, 0.32432127],
       [0.39155539, 0.60844461],
       [0.91109248, 0.08890752],
       [0.23810395, 0.76189605],
       [0.25287573, 0.74712427],
       [0.92969973, 0.07030027],
       [0.68712772, 0.31287228],
       [0.91085153, 0.08914847],
       [0.81911169, 0.18088831],
       [0.58447823, 0.41552177],
       [0.89961714, 0.10038286],
       [0.4095101 , 0.5904899 ],
       [0.22903812, 0.77096188],
       [0.55721739, 0.44278261],
       [0.53781601, 0.46218399],
       [0.46025253, 0.53974747],
       [0.9507512 , 0.0492488 ],
       [0.78076496, 0.21923504],
       [0.40093231, 0.59906769],
       [0.57820067, 0.42179933],
       [0.08793068, 0.91206932],
       [0.91368764, 0.08631236],
       [0.93568148, 0.06431852],
       [0.28643636, 0.71356364],
       [0.72601476, 0.27398524],
       [0.59967133, 0.40032867],
       [0.76036002, 0.23963998],
       [0.90884291, 0.09115709],
       [0.08323282, 0.91676718],
       [0.60577635, 0.39422365],
       [0.63142392, 0.36857608],
       [0.87352227, 0.12647773],
       [0.58581573, 0.41418427],
       [0.55058191, 0.44941809],
       [0.64360747, 0.35639253],
       [0.77026213, 0.22973787],
       [0.55950088, 0.44049912],
       [0.82741701, 0.17258299],
       [0.75905916, 0.24094084],
       [0.10157553, 0.89842447],
       [0.06545036, 0.93454964],
       [0.09728471, 0.90271529],
       [0.0706648 , 0.9293352 ],
       [0.915893  , 0.084107  ],
       [0.39155358, 0.60844642],
       [0.28111158, 0.71888842],
       [0.45966222, 0.54033778],
       [0.15912891, 0.84087109],
       [0.06677468, 0.93322532],
       [0.8579176 , 0.1420824 ],
       [0.85036932, 0.14963068],
       [0.35700905, 0.64299095],
       [0.4306159 , 0.5693841 ],
       [0.9258296 , 0.0741704 ],
       [0.94821061, 0.05178939],
       [0.51841448, 0.48158552],
       [0.71906727, 0.28093273],
       [0.83059272, 0.16940728],
       [0.9111106 , 0.0888894 ],
       [0.57790674, 0.42209326],
       [0.65811505, 0.34188495],
       [0.38657253, 0.61342747],
       [0.10545552, 0.89454448],
       [0.14028054, 0.85971946],
       [0.0386463 , 0.9613537 ],
       [0.28262979, 0.71737021],
       [0.13327296, 0.86672704],
       [0.28478417, 0.71521583],
       [0.02380848, 0.97619152],
       [0.8869024 , 0.1130976 ],
       [0.55930607, 0.44069393],
       [0.15884034, 0.84115966],
       [0.91913804, 0.08086196],
       [0.48173765, 0.51826235],
       [0.52225976, 0.47774024],
       [0.73779683, 0.26220317],
       [0.91591914, 0.08408086],
       [0.12543568, 0.87456432],
       [0.63388469, 0.36611531],
       [0.18826438, 0.81173562],
       [0.24640183, 0.75359817],
       [0.43744008, 0.56255992],
       [0.3032858 , 0.6967142 ],
       [0.92899289, 0.07100711],
       [0.90361191, 0.09638809],
       [0.41252803, 0.58747197],
       [0.8839979 , 0.1160021 ],
       [0.24192477, 0.75807523],
       [0.86150685, 0.13849315],
       [0.54165813, 0.45834187],
       [0.78663939, 0.21336061],
       [0.23039126, 0.76960874],
       [0.74820194, 0.25179806],
       [0.85601982, 0.14398018],
       [0.70989919, 0.29010081],
       [0.33987596, 0.66012404],
       [0.78581328, 0.21418672],
       [0.85057345, 0.14942655],
       [0.88781646, 0.11218354],
       [0.80400435, 0.19599565],
       [0.0494287 , 0.9505713 ],
       [0.06574538, 0.93425462],
       [0.20083648, 0.79916352],
       [0.47414675, 0.52585325],
       [0.03340229, 0.96659771],
       [0.67821053, 0.32178947],
       [0.90301244, 0.09698756],
       [0.91139109, 0.08860891],
       [0.76343494, 0.23656506],
       [0.36673778, 0.63326222],
       [0.86817934, 0.13182066],
       [0.76477885, 0.23522115],
       [0.47425535, 0.52574465],
       [0.07037459, 0.92962541],
       [0.89277796, 0.10722204],
       [0.30404744, 0.69595256],
       [0.91109248, 0.08890752],
       [0.92629254, 0.07370746],
       [0.86678251, 0.13321749],
       [0.91338695, 0.08661305],
       [0.3332018 , 0.6667982 ],
       [0.3332018 , 0.6667982 ],
       [0.33304237, 0.66695763],
       [0.87410815, 0.12589185],
       [0.55972909, 0.44027091],
       [0.87089427, 0.12910573],
       [0.91109248, 0.08890752],
       [0.58637889, 0.41362111],
       [0.930844  , 0.069156  ],
       [0.80537942, 0.19462058],
       [0.91118932, 0.08881068],
       [0.35097008, 0.64902992],
       [0.94570947, 0.05429053],
       [0.99786839, 0.00213161],
       [0.14923073, 0.85076927],
       [0.91813736, 0.08186264],
       [0.89971258, 0.10028742],
       [0.08589396, 0.91410604],
       [0.91913862, 0.08086138],
       [0.78178173, 0.21821827],
       [0.1099033 , 0.8900967 ],
       [0.16650607, 0.83349393],
       [0.92534217, 0.07465783],
       [0.49416322, 0.50583678],
       [0.91893363, 0.08106637],
       [0.71906727, 0.28093273],
       [0.965796  , 0.034204  ],
       [0.97469019, 0.02530981],
       [0.38566528, 0.61433472],
       [0.63063463, 0.36936537],
       [0.44245408, 0.55754592],
       [0.03566887, 0.96433113],
       [0.20741572, 0.79258428],
       [0.88535131, 0.11464869],
       [0.39242934, 0.60757066],
       [0.90632511, 0.09367489],
       [0.81128561, 0.18871439],
       [0.84072487, 0.15927513],
       [0.76258313, 0.23741687],
       [0.9063343 , 0.0936657 ],
       [0.85034477, 0.14965523],
       [0.91913804, 0.08086196],
       [0.12804805, 0.87195195],
       [0.9467161 , 0.0532839 ],
       [0.47729627, 0.52270373],
       [0.90109387, 0.09890613],
       [0.24324145, 0.75675855],
       [0.20316677, 0.79683323],
       [0.15629191, 0.84370809],
       [0.19100967, 0.80899033],
       [0.9205149 , 0.0794851 ],
       [0.51969321, 0.48030679],
       [0.04496431, 0.95503569],
       [0.06835486, 0.93164514],
       [0.91106935, 0.08893065],
       [0.05327539, 0.94672461],
       [0.55632983, 0.44367017],
       [0.859323  , 0.140677  ],
       [0.90631857, 0.09368143],
       [0.91602637, 0.08397363],
       [0.95072518, 0.04927482],
       [0.68712772, 0.31287228],
       [0.89961784, 0.10038216]])

In [84]:
logit.score(X_train, y_train)

0.8048289738430584

In [85]:
print(confusion_matrix(y_train, y_pred))

[[268  39]
 [ 58 132]]

In [86]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.87      0.85       307
           1       0.77      0.69      0.73       190

    accuracy                           0.80       497
   macro avg       0.80      0.78      0.79       497
weighted avg       0.80      0.80      0.80       497

In [87]:
titanic2 = get_titanic_data()

In [88]:
titanic2.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [93]:
titanic2.age.isnull().values.any()

True