Monday Morning Warmup
Take the word EASY: Its first three letters — E, A and S — are the fifth, first, and nineteenth letters, respectively, in the alphabet. If you add 5, 1, and 19, you get 25, which is the value of the alphabetical position of Y, the last letter of EASY.

Can you think of a common five-letter word that works in the opposite way — in which the value of the alphabetical positions of its last four letters add up to the value of the alphabetical position of its first letter?

Think about how to break this problem down into steps and write out a plan for your solution.
There is a file on your mac that contains a list of words -- /usr/share/dict/words.
Open this file with either python or pandas and implement your solution.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import acquire
import prepare

In [2]:
from pydataset import data

In [3]:
word_list = pd.read_csv('/usr/share/dict/words')

In [27]:
word_list

                 A
0                a
1               aa
2              aal
3            aalii
4              aam
...            ...
235880      zythem
235881      Zythia
235882      zythum
235883     Zyzomys
235884  Zyzzogeton

[235885 rows x 1 columns]

In [62]:
alpha = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26}
def word_count(seq):
    for ele in seq:
        sum = 0
        val = 0
        ele = ele.lower()
        for i in ele:
            sum += alpha[i]
        sum -= alpha[ele[0]]
        val += alpha[ele[0]]
        if val == sum:
            print(ele)

In [ ]:
my_list = ['table', 'zebra']

In [64]:
word_count("my_list")

KeyError: '_'

In [24]:
first_letter = ele[0]
last_four_letters = ele[1:]